[2015-01-15 01:52] jdanbrown opened #10 "Multiline fields?"
Any plans to support csv files with multiline fields, i.e. quoted literal newlines? Example:
[code]

As best I understand, hadoop file splits make it impossible in theory—but maybe tractable in practice—to correctly parse multiline fields because you have to start from the beginning of the file to correctly track the state of whether a particular char is inside quotes. Any thoughts on usable pract

[2015-01-20 14:36] mauropirrone opened #11 "Schema validation"
The parser crashes and there's no way to catch the exception if the schema provided has more fields than the actual CSV file.

val parser = new CsvParser().withDelimiter(delimiter).withQuoteChar(quote).withUseHeader(useHeader)
parser.withSchema(myCustomSchema)

The parser keeps on looping on the entire file, and throws ArrayIndexOutOfBoundsException for each line in the file.

[2015-01-23 13:03] helios opened #13 "scala 2.11.5"
How to make it compile with scala 2.11.5 ?
Following Spark https://spark.apache.org/docs/latest/building-spark.html#building-for-scala-211 compiling spark it works.

[2015-02-04 21:36] dragos opened #17 "Allow configuration of CSV format"
Currently `CSVFormat` is hard coded, but it would be great to allow this to be configured. Probably `CSVFormat.EXCEL` would also be a better default (currently it can't parse CSV exported from Google Docs either).

It has to do with empty lines. Here is the definition from `apache-commons`:

[code]

[2015-02-06 14:57] spicoflorin opened #18 "Provide more examples Java/Scala"
Hello!
  Can you please provide more examples (rather that tests) both in Java and Scala?
For example an interesting Java example for me is how do you select only particular columns from the CSV file.
 Thanks.
  Regards,
  Florin

[2015-02-09 22:19] falaki commented on #10
As you mentioned, because for most formats a single file may be split between executors, this cannot be done cleanly. In special cases where individual files are small, SparkContext.wholeTextFile can be used as well.

[2015-02-09 22:19] #10 closed

[2015-02-17 22:25] falaki commented on #13
This will come soon. Thanks for filing this issue.

[2015-02-18 21:49] felixcheung commented on #17
Could I suggest supporting custom delimiter and so on. I understand this is CSV but it is very common to have tab as delimiter (since comma in dataset is very common)

[2015-02-18 21:50] felixcheung opened #20 "Support for writing to CSV"
Particularly with header from data schema of SchemaRDD, escaping delimiter and so on.

[2015-02-18 21:53] felixcheung commented on #17
This would be more methods to allow for customization in implicit class CsvContext

[2015-02-19 00:09] falaki commented on #20
As soon as Spark 1.3 is released I will add this feature.

[2015-02-19 00:20] falaki commented on #17
We do support custom delimiter character.

[2015-02-19 00:52] falaki opened #22 "Support for new features in Spark 1.3"
Spark 1.3 adds support for custom schema in sql, and write functionality for data sources.

[2015-02-19 03:02] falaki commented on #20
The latest patch adds support for writing simple DataFrames (formerly known as SchemaRDD) as CSV files.

[2015-02-19 03:03] #20 closed

[2015-02-26 14:37] pierre-borckmans opened #24 "Is v0.2 published on Sonatype or Mavencentral yet"
I cannot find it

[2015-03-01 03:45] falaki commented on #24
No not yet. Waiting for Spark 1.3 release.

[2015-03-16 08:42] sudev opened #27 "The type org.apache.spark.sql.api.java.JavaSQLContext cannot be resolved."
I was not able to find the version `1.0.0` as mentioned in ReadMe through maven.
[code]
So, I tried to version `0.1` in my pom.xml.
[code]
And when I try to parse a csv, it results in a compilation error.

`The type org.apache.spark.sql.api.java.JavaSQLContext cannot be resolved. It is indirectly referenced from required .class files`

My Java code

[code]

I'm not able  to understand why the Java

[2015-03-16 17:45] elyconn commented on #24
Any chance on this happening now that 1.3 is released?

[2015-03-16 21:43] vlyubin commented on #24
@elyconn Will be done within 2 days.

[2015-03-17 16:56] falaki commented on #27
We have not officially released version 1.0.0 on Maven. This will be done within coming few days.

[2015-03-17 16:56] #22 closed

[2015-03-19 10:02] jnaour opened #29 "Header on each partition"
When using following code:
myDataFrame.saveAsCsvFile("/mydir", Map("delimiter" -> "|", "header" -> "true"))
on a partitionned RDD header are added at the beginning of each partition and not only on the first line.

[2015-03-24 20:41] eranation commented on #13
Any news? :)

[2015-03-25 18:16] yhuai opened #32 "Add a section about how to load/save in Python"
With our generic save/load functions (https://spark.apache.org/docs/1.3.0/sql-programming-guide.html#generic-loadsave-functions), we can use the csv data source in Python. We should add section about it in the README.

[2015-03-25 18:25] vlyubin commented on #24
The version for Spark `1.3` is now published (version number is `1.0.0`). The old versions are still there.

http://search.maven.org/#search%7Cga%7C1%7Cspark-csv

[2015-03-25 18:25] #24 closed

[2015-03-26 19:30] falaki commented on #13
Will release 1.0.1 with Scala 2.11 support.

[2015-03-26 19:30] #13 closed

[2015-03-26 19:30] #32 closed

[2015-03-26 20:02] falaki commented on #18
Please checkout the latest README file.

[2015-03-26 20:02] #18 closed

[2015-03-26 20:04] falaki commented on #27
1.0.0 is released.

[2015-03-26 20:04] #27 closed

[2015-03-26 20:10] pwendell opened #34 "Update readme to suggest using --packages instead of --jars"
It should use --packages rather than asking people to download the assembly jar.

[2015-03-26 21:54] falaki commented on #17
@dragos Would you please check again to see if you can read Google Docs exported CSV files? We handle empty lines now.

[2015-03-27 17:49] pashields opened #35 "Publish 1.0.1 to sonatype"
I don't know if databricks has a policy on how these releases get published, but barring some blockage it'd be great to get this up.

Apologies if this process has already kicked off and this issue is redundant.

Thanks

[2015-03-28 00:04] #34 closed

[2015-03-28 05:19] #35 closed

[2015-03-28 11:27] MarkRijckenberg opened #38 "java.lang.ClassCastException: java.lang.Boolean cannot be cast to java.lang.String"
Hi,

I have written the following procedure and followed it:

https://mark911.wordpress.com/2015/03/21/how-to-build-pysparkmaven-and-apache-spark-from-github-sources-using-a-bash-script-in-ubuntu-14-04-lts-64-bit/

Importing the csv file via the procedure I wrote, works when using com.databricks:spark-csv version 2.10:1.0.0, but does not work using 2.11:1.0.1. When using 2.11:1.0.1, the Excel head

[2015-03-28 16:48] falaki commented on #38
In version 1.0.1 we changed the default value of header flag from true to false. So if you have a header line in your file, you need to dome something like:
[code]

[2015-03-28 17:13] MarkRijckenberg commented on #38
Thanks for your answer. However, I previously already tried adding header = True and the command only gives an error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: load() got multiple values for keyword argument 'path'

Using path =  without adding header = True also gives an error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
Typ

[2015-03-28 17:24] MarkRijckenberg commented on #38
Changing the ordering of the arguments to sqlContext.load also generated a similar error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ulysses/spark/python/pyspark/sql/context.py", line 482, in load
    df = self._ssql_ctx.load(source, joptions)
  File "/home/ulysses/spark/python/lib/py4j-0.8.2.1-src.zip/py4j/java_gateway.py", line 538, in __call__
  File

[2015-03-28 18:21] falaki commented on #38
Ah, the option should be a string not boolean. Please try:
[code]

[2015-03-28 18:29] MarkRijckenberg commented on #38
Thanks a lot! You solved my issue.

The command

df = sqlContext.load("com.databricks.spark.csv", path = "cars.csv", header = "true")

did not work, but the following command did work using version 2.11:1.0.1 :

15/03/28 19:26:17 INFO MemoryStore: ensureFreeSpace(177238) called with curMem=0, maxMem=278302556
15/03/28 19:26:17 INFO MemoryStore: Block broadcast_2 stored as values in memory (estimat

[2015-03-28 18:37] MarkRijckenberg commented on #38
I do suggest updating the documentation in the section "Python API"  and replacing the line

df = sqlContext.load("com.databricks.spark.csv", path = "cars.csv", header = True)

with the line

df = sqlContext.load(source="com.databricks.spark.csv", header="true",path = "cars.csv")

to avoid future bug reports about this :-)

[2015-03-28 20:14] falaki commented on #38
Sure. Thanks for filing this

[2015-03-28 20:22] #38 closed

[2015-03-30 05:28] #11 closed

[2015-03-30 05:31] falaki commented on #29
That is by design. We produce one file for each partition. If your DataFrame is not too large you can save it to a single file by controlling number of partitions.

[2015-03-30 05:31] #29 closed

[2015-04-01 04:03] adefazio opened #43 "CsvRelation should not be protected[spark]"
Currently the csvFile implicit doesn't expose a way to specify the schema, and since CsvRelation is protected, I can't just call it directly with userSchema set. csvFile should also probably be modified to allow a schema to be passed in as well.

[2015-04-01 09:49] nightscape opened #44 "IncompatibleClassChangeError: Found class org.apache.spark.sql.DataFrame, but interface was expected"
Hi!

When trying to do a saveAsCsvFile on a DataFrame, I get the following error:
[code]
It seems that people face similar problems if they use a different Hadoop version at runtime than the one used to compile.
I'm running the Homebrew-provided spark-shell 1.3.0 locally on my MacBook Air, and I'm not sure if/where Hadoop might be involved in this.

Exporting to parquet works as expected.

I'm tha

[2015-04-01 17:18] ssemichev opened #45 "EXTERNAL TABLE SUPPORT"
Can you add support for external table for SQL API?

CREATE EXTERNAL TABLE cars
USING com.databricks.spark.csv
OPTIONS (path "cars.csv", header "true")

[2015-04-01 20:41] falaki commented on #45
When you specify a path SparkSQL creates the table as external. There is no need for the EXTERNAL keyword.

[2015-04-01 21:04] ssemichev commented on #45
If I understand correctly, "CREATE TABLE" command creates Hive internal table.
Internal tables work as immutable tables.

Here is an example how to reproduce it.

Initially my S# bucket has one file only

1) Create table
CREATE TABLE test_table (id string, text string)
USING com.databricks.spark.csv
OPTIONS (path "/mnt/processing/manual_tasks/*", header "true")

2) SELECT count(*) FROM test_table

[2015-04-01 21:12] falaki commented on #43
You can support a schema using the load() function in SqlContext. csvFile and tsvFile are just there for convenience (in common cases).

[2015-04-03 15:04] syepes opened #46 "Allow to specify a schema"
Hello,

I am trying to specify a schema when loading a CSV using the method "sqlContext.load" but it fails.
Am I doing something wrong?

[code]

Best regards,
Sebastian

[2015-04-03 21:42] falaki commented on #45
SparkSQL caches meta data about tables created using data sources (such as spark-csv), therefore it is necessary to call "REFRESH TABEL" with SparkSQL. Hive does not have this issue because it does not have the metadata cache.

[2015-04-03 21:44] falaki commented on #46
Please try this:
[code]

[2015-04-04 01:01] ssemichev commented on #45
spark-csv creates an INTERNAL HIVE table
REFRESH TABLE doesn't work also.

CREATE TABLE test_table(id string, text string)
USING com.databricks.spark.csv
OPTIONS (path "/mnt/testdata/*", header "true")

DESCRIBE test_table

REFRESH TABLE test_table

[2015-04-04 05:02] falaki commented on #45
Are you running Spark 1.3?

[2015-04-04 22:13] ssemichev commented on #45
It's Spark 1.2. Databricks cloud is going to be updated to Spark 1.3 next
week.

On Sat, Apr 4, 2015 at 1:02 AM, Hossein Falaki <notifications@github.com>
wrote:

--
Best regards,
Sergey Semichev

[2015-04-06 16:55] yanakad commented on #44
Just chiming in that I observed the same issue. So hopefully this would be an upvote for a fix or a workaround. I don't think compile/runtime Hadoop version is the issue. @nightscape I was able to export a csv file by doing df.map(_.mkString(",")).coalesce(1).saveAsTextFile("foo.csv") but obviously this was out of desperation.

[2015-04-06 19:22] rxin commented on #44
Was the brew Spark actually the 1.3.0 release? It seems to me from the error message it might be packaged before the proper release. There was a point in the development cycle when DataFrame was an interface.

[2015-04-06 19:31] nightscape commented on #44
@yanakad Thanks for the workaround, I was using a much more complicated DataFrame -> Parquet -> CSV process.
@rxin These are the lines from the brew formula:
[code]
When checking the URL without the filename you get a XML listing with the following entry
[code]

[2015-04-06 19:37] rxin commented on #44
What version of Spark-CSV are you using?

[2015-04-06 20:41] nightscape commented on #44
I was using 1.0.1 and just wanted to try 1.0.2 but now I'm running into a Spark bug and Spark already hangs when trying to read a CSV...
https://issues.apache.org/jira/browse/SPARK-6640
https://github.com/apache/spark/pull/5306

[2015-04-06 22:11] JoshRosen commented on #44
@falaki, is it possible that our published 1.0.1 artifacts were built against a snapshot release that was published locally as 1.3.0, rather than the final 1.3.0 release?

It looks like the published 1.0.1 JAR tries to `invokeinterface` on a DataFrame:

[code]

This corresponds to the [site of the error](https://github.com/databricks/spark-csv/blob/v1.0.1/src/main/scala/com/databricks/spark/csv/pa

[2015-04-06 22:18] JoshRosen commented on #44
It looks like 1.0.1 [isn't published as a release](http://spark-packages.org/package/databricks/spark-csv) on Spark Packages, but I'm curious to see whether the site's compatibility checker would have caught this incompatibility.  I guess this could depend on whether we run compatibility tests on the binary artifacts retrieved from Maven or on artifacts that we build from source. (/cc @brkyvz )

[2015-04-06 22:40] brkyvz commented on #44
We run compatibility tests on artifacts from Maven, if they are supplied. Since 1.0.1 wasn't released on Spark Packages, I ran the api-checker locally. I don't see the IncompatibleClassError, because I can only see differences between Spark 1.3.0 and 1.2.0.

[2015-04-07 06:46] rayortigas commented on #44
I tried the spark-csv 1.0.2 artifact and still get the IncompatibleClassChangeError I was getting with 1.0.1.

I downloaded [the JAR proper](http://repo1.maven.org/maven2/com/databricks/spark-csv_2.10/1.0.2/spark-csv_2.10-1.0.2.jar) just to double-check, and got similar javap results for 1.0.2 as @JoshRosen did running javap for 1.0.1.

[code]

[2015-04-07 07:39] falaki commented on #44
Thanks for verification. I am publishing new jars with fixed dependencies.

[2015-04-07 07:40] #44 closed

[2015-04-07 18:30] rayortigas commented on #44
Thank you for publishing the new 1.0.3 jar. It is working for me.

[2015-04-07 19:07] falaki commented on #44
Thanks for reporting the issue and following up.

[2015-04-09 08:37] syepes commented on #46
@falaki Thanks for the solution.

[2015-04-09 08:37] #46 closed

[2015-04-09 21:59] ssemichev commented on #45
Spark 1.3
"CREATE TABLE" command creates an external Hive table.
New incoming data are visible without "REFRESH TABLE"
"REFRESH TABLE" command works

[2015-04-09 21:59] #45 closed

[2015-04-10 17:08] yanakad commented on #44
Folks, I am a little late to the party but had a follow up (not sure if this is a bug or I'm misusing)

myDf.saveAsCsvFile("foo.csv") for me now results in a folder with sub-files. The closest I could come up to dumping a csv file is myDf.repartition(1).saveAsCsvFile("foo.csv") and I'm still missing the headers. Additionally the file is still dumped as part-0000 under foo.csv directory.  Is there

[2015-04-10 18:55] falaki commented on #44
@yanakad you can pass a Map to saveAsCsvFile as follows:
[code]
Spark writes each partition into a separate file in the path that you provide (foo.csv/) and there will be a header line on each file.

[2015-04-13 09:21] bipin-nag opened #48 "Timestamp format when loading csv files"
Whenever I load a csv file that contains timestamp in a field, I get null values in that column. I believe the library expects the timestamp in a specific format. Is it possible to provide the parser with a particular format. I am forced to import as a string and then map to a function that does the conversion like this:

import java.sql.Timestamp
import java.text.SimpleDateFormat
import java.util

[2015-04-14 20:17] ssemichev opened #50 "Partitions support"
Are you planning to add partitions support?

It will be nice to have the similar functionality
CREATE EXTERNAL TABLE baby_names_by_century (
  name STRING,
  gender STRING,
  id STRING
)
PARTITIONED BY
  (date STRING)
ROW FORMAT
  SERDE 'org.apache.hadoop.hive.contrib.serde2.RegexSerDe'
WITH SERDEPROPERTIES
  ("input.regex" = "([^ ]*),([^ ]*),([^ ]*)")
LOCATION
  "path"

[2015-04-22 18:39] momer opened #54 "Trouble working with Spark-CSV package (error: object databricks is not a member of package com)"
Hey all,

Thanks for your work on spark-csv.

I'm working with Scala 2.11.6, and Spark 1.3.1 built from source via:

`mvn -Pyarn -Phadoop-2.4 -Dscala-2.11 -DskipTests clean package`

The error is encountered when running spark shell via:

`spark-shell --packages com.databricks:spark-csv_2.11:1.0.3`

The full trace of the commands:

    MYCOMP:spark-1.3.1 mo.omer$ spark-shell --packages com.databri

[2015-04-22 23:43] falaki commented on #50
Yes partition support will be coming to SparkSQL data sources in Spark 1.4. We will update Spark-CSV to support it as well.

[2015-04-22 23:44] falaki commented on #54
Hi @momer. Thanks for filing this. The issue seems to be with Spark on Yarn. Would you mind filing a JIRA for Spark: https://issues.apache.org/jira/browse/SPARK

[2015-04-22 23:45] brkyvz commented on #54
Hi @momer , Could you please try `spark-shell` with `--packages brkyvz:demo-scala-python:0.1.3` just to test whether this is a package related issue or Spark issue. I believe this is related to Yarn. If you fail at `import com.brkyvz.spark.WordCounter` then it is not package specific.

Thanks,
Burak

[2015-04-23 00:14] momer commented on #54
Yes, `import com.brkyvz.spark.WordCounter` failed as well :/

On Wed, Apr 22, 2015 at 6:45 PM, Burak Yavuz <notifications@github.com>
wrote:

[2015-04-23 00:18] brkyvz commented on #54
Then it is probably a Spark with Yarn issue. Is there any way you can test this locally if possible? With Scala 2.11 just to make sure it is not a Scala 2.11 problem (I doubt it, but would be nice to double check)

[2015-04-23 16:14] momer commented on #54
Works in scala with

    MINCBM-NMX3837:scalastuff mo.omer$ scala -cp ./demo-scala-python-0.1.3-s_2.10.jar
    Welcome to Scala version 2.11.6 (Java HotSpot(TM) 64-Bit Server VM, Java 1.7.0_67).
    Type in expressions to have them evaluated.
    Type :help for more information.

    scala> import com.brkyvz.spark.WordCounter
    import com.brkyvz.spark.WordCounter

    scala> :quit

However, spar

[2015-04-23 17:05] brkyvz commented on #54
If it's not even working with `--jars` then there might be a problem with your setup. As far as I'm aware, `--jars` works properly with Yarn.

Can you run locally like `spark-shell --master local[*] --packages `...

[2015-04-23 18:18] momer commented on #54
No dice @brkyvz. I'm not sure what the problem with my setup could be - I've run my example apps fine on spark, and in the spark-shell.

An example app running:

    MyComp:exampleApp mo.omer$ spark-submit --class "ExampleApp" --master local[4] target/scala-2.10/simple-project_2.10-1.0.jar
    Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
    15/04/23 13:16:43 INF

[2015-04-23 20:47] momer commented on #54
Update: I can import `com.databricks.spark.csv._` if I download and build spark-csv with `sbt package`, and then add the scala 2.11 jar from the target folder onto my `SPARK_CLASSPATH` env variable, and then launch spark-shell a la:

    MyComp:spark-csv mo.omer$ spark-shell --packages com.databricks:spark-csv_2.10:1.0.3
    Ivy Default Cache set to: /Users/mo.omer/.ivy2/cache
    The jars for the

[2015-04-23 22:38] BobWall23 commented on #43
The .load function in SqlContext will handle CSV files directly? It looks like CsvRelation does the parsing of the CSV file - is that code a duplicate of what's in SqlContext.load?

[2015-04-23 23:16] falaki commented on #43
You can use SQLContext.load as follows:
[code]

SQLContext will load the spark-csv package and call appropriate methods to parse data.

[2015-04-28 04:12] kul opened #55 "Java sql context support"
I have following dependency for 1.2.0 Spark
`[com.databricks/spark-csv_2.10 "0.1.1"]`

But table creation example for SQL fails in both sql and hive context.
For hive context I get following errors

[code]

[2015-04-28 04:15] kul commented on #55
For plain Spark SQL Context it fails with

```RuntimeException java.lang.RuntimeException: [1.1] failure: ``INSERT'' expected but identifier CREATE found

CREATE TEMPORARY TABLE cars

^>
[code]

[2015-04-28 05:56] falaki commented on #55
Do not use the word ```EXTERNAL```.

[2015-04-28 05:56] #55 closed

[2015-04-28 08:50] kul commented on #55
Hello @falaki,
When i try without EXTERNAL i get

[code]

[2015-04-28 08:53] kul commented on #55
Actually i have tried every possible combination with both spark and hive sql contexts with/without EXTERNAL or TEMPORARY. I am just trying to figure out what I may be doing wrong here.

[2015-04-30 15:52] petro-rudenko opened #56 "Custom schema support"
I want to pass my custom schema. I've tried to created my own CsvRelation, but it's protected to spark package (maybe make it public).

[2015-04-30 15:53] #56 closed

[2015-04-30 16:52] kul commented on #55
Still not able to get it working on 1.3.1 spark. Is there a test case for this i can look into as reference?

[2015-04-30 18:42] falaki commented on #55
Would you please share the code that gives you the error?

[2015-04-30 19:10] kul commented on #55
I am using the clojure wrapper (flambo) for spark but the code is pretty much straightforward,
define config, create JavaSparkContext using `f/spark-context`, create sql context, then register using `.sql`. Please note that with the same code i am able to get `spark-avro` working.

[code]

[2015-04-30 20:03] falaki commented on #55
I see. In spark 1.2 we only supported TEMPORARY tables. So do the following
[code]

Alternatively if you upgrade to Spark 1.3 your existing code should work and table information will be saved to hive metastore.

[2015-05-02 18:20] cziko opened #58 "Issue with spark-csv. java.lang.NoClassDefFoundError: org/apache/commons/csv/CSVFormat"
Hi there,

I've bumped into following issue:

1.) Submitting a job. df.save("path_to_csv", "com.databricks.spark.csv")
2.) Job executes on the cluster
3.) Only after it's about to be stored to csv I'm getting the following error:

15/05/02 18:14:44 WARN scheduler.TaskSetManager: Lost task 1.0 in stage 5.0 (TID 533, ip-10-140-173-224.ec2.internal): java.lang.NoClassDefFoundError: org/apache/commons

[2015-05-03 05:14] falaki commented on #58
How do you include the spark-csv Jar file? Are you doing this?
[code]

[2015-05-04 07:14] nlothian commented on #43
Can you show an example of passing a schema to sqlContext.load()?

I have a csv with a header that contains spaces in the column names. spark-csv doesn't seem to handle this well at the moment, and I assume that passing a schema manually is the best work-around?

[2015-05-04 10:12] cziko commented on #58
Yeah,

Thanks. I had issue in my configuration file.

[2015-05-04 10:12] #58 closed

[2015-05-04 17:11] falaki commented on #43
Here is an example for Scala:

[code]

Note that the header = true option tells spark-csv  to capture first line of first file and ignore it throughout.
See the [python API](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.SQLContext.load) for equivalent call in python SQLContext.

[2015-05-04 23:13] nlothian commented on #43
Thanks, that makes sense

[2015-05-05 14:27] lebigot opened #59 "Add simple install instructions details"
I wanted to use spark-csv, but the installation instructions refer to frameworks that I don't know.

It would be most useful if you could add detailed installation instructions. For instance for someone who is only familiar with Python and has only downloaded (and successfully used) the pre-compiled version of Spark. :)

[2015-05-05 17:32] falaki commented on #59
Doesn't following command work for you (with your pre-compiled version of Spark)?
[code]

[2015-05-06 02:13] lebigot commented on #59
Thanks, this was very helpful: this was close enough to the answer to my need. :) I wanted to use spark-csv

I would strongly suggest that you update the installation documentation, for example in the following places:

1) Starting with the Linking section, that mentions "coordinates", is completely confusing for someone like me who knows Python and PySpark, but not much about Java and Scala. Intr

[2015-05-06 18:15] falaki commented on #59
Thanks for your suggestions. Will include them.

[2015-05-07 09:51] lebigot opened #60 "Data types not inferred"
Spark SQL has the ability to infer column types from, say, JSON files. It would be nice if spark-csv did too for CSV files. Currently, in Python at least, all types are strings (with or without header="true").

[2015-05-09 07:18] phatak-dev commented on #60
+1

[2015-05-10 16:02] djm1329 opened #61 "loading csv with missing column names"
I think this may be a duplicate issue. Missing column names in the header are not supported.

java.lang.IllegalArgumentException: The header contains a duplicate entry: '' in [#"Accessibility", NE_VERSION, NE_ID, NE_NAME, EVENT_TIME, cNum, mcID, , , , , ErabAccessibilityInit(%), SumRrcConnEstabSucc(count), SumRrcConnEstabAtt(count), SumS1sigS1ConnEstabSucc(count), SumS1sigS1ConnEstabAtt(count), Su

[2015-05-10 23:57] falaki commented on #61
Thanks for reporting. Would you please also include how you are calling spark-csv? Specifically what options are you passing?

[2015-05-11 00:08] djm1329 commented on #61
Sorry, I should have included initially. I tried this:

      val sqlContext = new SQLContext(sc)
      val df = sqlContext.load("com.databricks.spark.csv", Map("path" -> "SSM01-15MIN-20150502-1000/", "header" -> "true"))

Thanks for looking at this.

[2015-05-11 00:17] falaki commented on #61
While we work on the issue you can work around it by specifying your schema manually. You can still keep header = true, to get rid of the first line in your file.

[2015-05-11 00:21] djm1329 commented on #61
Sure. Thanks again.

[2015-05-13 01:07] MasseGuillaume opened #62 "missing csvRDD function"
[SQLContext](https://spark.apache.org/docs/1.3.1/api/scala/index.html#org.apache.spark.sql.SQLContext) has a `jsonRDD(json: RDD[String]): DataFrame`

[2015-05-13 18:10] falaki commented on #62
Thanks for the suggestion. This would be useful to add.

[2015-05-24 23:13] mistakevin opened #63 "Exports csv as a directory on OSX"
Exporting the results out as a csv creates a directory that looks like:
[code]

Is this expected? How do I view the csv?

[2015-05-25 20:55] falaki commented on #63
Yes, this is the expected behavior. If you wish to get a single file, fix number of partitions to one using Spark API.

[2015-05-25 20:56] #63 closed

[2015-05-26 10:00] evacchi opened #64 "[Spark 1.4] ClassCastException: java.lang.String cannot be cast to org.apache.spark.sql.types.UTF8String"
Currently broken with Spark 1.4 when an explicit schema with non-string fields is specified; e.g.:

[code]

[2015-05-26 17:32] falaki commented on #64
Please provide additional details including sample of data and the code that leads to this error.

[2015-05-26 18:41] rxin commented on #64
This is probably because we don't do inbound conversion in Spark itself. cc @yhuai

[2015-05-26 20:21] pwendell commented on #64
@yhuai do you mind creating a JIRA to track this - it could be release blocker (/cc @marmbrus)

[2015-05-26 21:33] yhuai commented on #64
I see. The issue is that Spark-CSV is using the Spark SQL's internal API to do the type cast, which assumes values are stored in Spark SQL's internal representation (e.g. `UTF8String`). We will fix it in Spark-CSV.

btw, here is the stack trace.

[code]

[2015-05-29 21:35] falaki opened #65 "Parsing CSV with '\t' in notebook fails"
[code]
Will fail with:
[code]

[2015-06-01 09:21] zhaidarbek opened #66 "Example of usage from spark-shell"
I'm trying to get the exampling working with no luck. Could you provide step by step instructions how to get it running?
1. Run spark shell: spark-1.3.1-bin-hadoop2.6\bin>spark-shell.cmd --packages com.databricks:spark-csv_2.10:1.0.3
2. Add imports:
import org.apache.spark.sql.SQLContext
import com.databricks.spark.csv._
3. Load csv data:
val sqlContext = new SQLContext(sc)
val cars = sqlContext.c

[2015-06-01 20:56] falaki commented on #66
@zhaidarbek Would you please provide the full stack trace? Also, are you able to run any spark jobs on your windows machine?

[2015-06-03 06:32] #65 closed

[2015-06-04 00:58] rcongiu opened #72 "Multi-line CSV records ?"
CSV format actually permits \n inside a field, as long as it's quoted. So something like

"field1",field 2 that
containts a new line", "field3"

is a valid record, but when I read a CSV file that contains data like that I get
 EOF reached before encapsulated token finished

I realize that is a huge PITA, especially because with text, HDFS splits blocks based on \n regardless of where it is, so to

[2015-06-04 05:24] falaki commented on #72
Hi @rcongiu this is a good idea. If you like to submit a PR using this reader, would be happy to merge it. In case you are interested, you can also use this old code. https://github.com/falaki/spark/blob/csv/sql/core/src/main/scala/org/apache/spark/sql/csv/CsvTokenizer.scala

Ideally this can be another parserLib that is controlled using options.

[2015-06-04 05:35] rxin commented on #72
Does that library actually work? I don't think there is a way to read a CSV file that allows new lines between quotes by starting in the middle, without assuming the maximum record length.

[2015-06-04 05:37] falaki commented on #72
Yes, it will be tricky. That was primarily why I abandoned it.

[2015-06-04 18:44] rcongiu commented on #72
Thanks, I may take a stab at it... and now that I think about it, @rxin  is right, I don't think there's a 100% safe way to determine if a \n is inside a field or in between records. I guess it would be possible if all the fields were double quoted but that is itself not guaranteed in CSV.
In this particular project I think the best choice is pre-process records so there's one per line, and quote

[2015-06-10 18:52] abhishek-ch opened #77 "save csv with python throwing Py4JJavaError"
I am using pre-built Spark Hadoop version 1.3+ (spark-1.3.1-bin-hadoop2.4).
Launching the Pyspark shell using the command -
[code]

Following is the commandline details while launching-

[code]

Loading the dataframe works fine-
df_cat = sqlContext.load(source="com.databricks.spark.csv", header="true", path = "/python/avito/Category.tsv", delimiter = '\t')

but When I try to save-
[code]
getting t

[2015-06-11 20:15] abhishek-ch commented on #77
When I checked through the code I found the issue was actually with Spark Configuration.
Spark was expecting some wrong url of Hadoop & that happened because the IP settings change for my server

[2015-06-11 20:15] #77 closed

[2015-06-12 18:22] trsudarshan commented on #60
+1

[2015-06-13 05:36] nevi-me opened #79 "Failed to load class for data source: com.databricks.spark.csv"
In the R example, I am failing to read a CSV file with the above error.

[code]

I get a runtime exception on the lookup of the datasource.

I notice that when starting spark from the command line, I have to specify `packages`, but it seems there isn't a way to do so when invoking it from `sparkR.init`, or that it's not documented.

[2015-06-14 06:49] nevi-me commented on #58
I've also come across the issue, I've included the .jar file in my spark-defaults.conf. I can see it in my classpaths, but I get the above error. @cziko how did you resolve it?

[2015-06-15 20:31] binarybana commented on #65
I am getting this error even with spark-csv 1.1.0 in a DBC notebook.

I've also tried ``"\t"`` ``\\t`` and other incantations unsuccessfully.

[2015-06-15 21:49] rcompton opened #80 "How to specify the delimiter?"
I can't find documentation that shows how save a dataframe as a .tsv rather than a .csv

[2015-06-16 00:31] falaki commented on #80
Please take a look at Spark documentation on this: http://spark.apache.org/docs/latest/sql-programming-guide.html#generic-loadsave-functions

For Spark 1.4 you can:
[code]

[2015-06-16 10:41] funnng commented on #79
same to me. i try to setup the `SPARKR_SUBMIT_ARGS` env before `sparkR.init`
[code]

will this be a `Permission denied` issue?
and how can i fix it?

[2015-06-16 13:56] jsolack commented on #60
+1

[2015-06-16 14:41] #80 closed

[2015-06-16 14:47] pmackles opened #81 "support for different encodings"
It looks like spark-csv only supports files encoded in utf8. I am guessing that is due to its use of SparkContext.textFile() which in turn probably uses TextInputFormat (which expects UTF8).

It looks like the CSVParser in common-csv does allow for specifying different encodings.

I am thinking there might be a way to get spark-csv to support other encodings by:
* exposing an option for encoding
*

[2015-06-16 15:15] Looping027 commented on #60
+1
(as an alternative, one could at least specify the column types in a parameter of the reading function)

[2015-06-16 23:08] falaki commented on #81
Hi @pmackles please send the PR. I will review it.

[2015-06-16 23:10] falaki commented on #60
Thanks for this feedback. I will work on it.

[2015-06-18 11:33] pmackles commented on #81
@falaki - thanks. here is a first crack at a PR: https://github.com/databricks/spark-csv/pull/82

[2015-06-18 12:09] ophchu opened #83 "ClassNotFoundException CsvRelation$$anonfun$buildScan$1 ???"
I'm trying to use spark-csv both from Zeppelin and from Spark shell and it keeps failing with ``` ClassNotFoundException ```.
I had few missing dependencies but now it looks that it finds all the spark-csv classes beside one...

The command I run in the shell:
[code]
my-path - csv file on s3.

And when:
[code]
I get the below exception

[code]

I'm using spark-csv 1.1.0 with Spark 1.3.1

[2015-06-18 12:46] ophchu commented on #83
An update:
When start Spark shell as follows:
[code]
Works and I don't get the exception.
So, the questions are:
1. Why it does not work to put the jars on the classpath?
and
2. How can I do it for Zeppelin?

[2015-06-18 21:12] vidaha commented on #65
Hi,

It works for me.  Please try these commands in a Python NOtebooK:

dbutils.fs.put("dbfs:/tmp/test.tsv", "col1\tcol2\tcol3\nval1\tval2\tval3\n1\t2\t3\t", True)

print dbutils.fs.head("dbfs:/tmp/test.tsv")

%sql drop table tsv

%sql CREATE TABLE tsv
USING com.databricks.spark.csv
options (path "dbfs:/tmp/test.tsv", header "false", delimiter '\t')

%sql select * from tsv

[2015-06-18 21:41] binarybana commented on #65
I can't copy paste from the results of a DBC cell so here's a screenshot:
![screenshot from 2015-06-18 14-38-53](https://cloud.githubusercontent.com/assets/392846/8242963/f7a3ca8a-15c7-11e5-92d4-212c28717e76.png)
![screenshot from 2015-06-18 14-39-26](https://cloud.githubusercontent.com/assets/392846/8242965/fa95df30-15c7-11e5-94db-9d3e36005f79.png)

[2015-06-18 21:55] vidaha commented on #65
1) Can you try checking your cluster and removing any spark-csv jars you have manually installed?  We install this library by default.
2) If this still doesn't work - let's see if you still get their error when you get Databricks 1.4.0, since that's what I tested my notebook on.

[2015-06-19 03:17] likelab opened #84 "NPE when run the sample"
when I run the follow example on my windows,
import org.apache.spark.sql.SQLContext

SQLContext sqlContext = new SQLContext(sc);
DataFrame sqlContext.read().format("com.databricks.spark.csv").option("header", "true").load("cars.csv");
df.select("year", "model").write().format("com.databricks.spark.csv").save("newcars.csv");

I got a NPE:
java.lang.NullPointerException
	at java.lang.ProcessBuilder.

[2015-06-19 10:35] invkrh opened #85 "No failover for empty fields which can not be parsed by a given schema"
A CSV line like:
* a;b;c;d;;e;f => an empty field between d & e
* a;b;c;d;e; => an empty field in the end

When an empty field is encountered, it is considered as an empty String "".
If a schema given for the field is, for example, an `IntegerType`, DataFrameRead will throw a `NumberFormatException` which makes the line excluded.

It would be better:
When a field is considered as an empty String,

[2015-06-19 19:16] binarybana commented on #65
Vida, It works now! Not sure if it was the forced cluster reset or the
update, but thanks for all your help. Thanks!

On Thu, Jun 18, 2015 at 2:55 PM vidaha <notifications@github.com> wrote:

[2015-06-19 19:16] binarybana commented on #65
It worked after a cluster reset (and DBC update). Thanks!

[2015-06-22 19:44] abhishek-ch opened #86 "Missing Values in CSV is taking as blank String not null"
I am trying to load the csv file using pyspark and found blank values in CSV is always taken as blank String in Dataframe created even in PERMISSIVE mode but the doc says

I am using following script -
[code]
![image](https://cloud.githubusercontent.com/assets/7579608/8291106/3ce9a6e6-191f-11e5-8ff7-22e8d0fe4159.png)

thats why now fillna is not working .

[2015-06-22 19:59] falaki commented on #86
What does the raw data look like? Just want to make sure there is no space or other character in place of that token.

[2015-06-22 20:03] abhishek-ch commented on #86
its a blank cell with no space & character in a csv cell.

There is a piece of code in CSVReader
settings.setNullValue("")

I tried modifying it to null and it didn't work , it was bit hard to understand the code as not aware of scala.

[2015-06-23 19:25] junr03 opened #88 "Loading CSVs into a HiveContext"
In my application I have data coming from CSVs and MSSQL tables. I want to have all these data sources in the same context. The problem is that my SQL queries are too complex for the basic `SQLContext`. Therefore, I decided to move to a `HiveContext`. However, when I do so and try to run my application I am getting an error in when loading the CSVs.

I executed my application like:
[code]

So when

[2015-06-23 20:48] yhuai commented on #88
@junr03 You hit a bug in Spark 1.4.0. It has been fixed in 1.4.1 (it will be released soon). I will add the link to the jira later (seems apache jira is down right now).

[2015-06-23 20:56] junr03 commented on #88
@yhuai thanks for the comment, I have been trying to figure this out for a long time now. I'll be looking forward to the Jira ticket, and the 1.4.1 push (any estimates?). Thanks!

[2015-06-23 21:27] yhuai commented on #88
@junr03 The original problem was reported in https://issues.apache.org/jira/browse/SPARK-8365 and we found the root cause was https://issues.apache.org/jira/browse/SPARK-8368. The fix is in our branch 1.4. For 1.4.1 release, probably later this week or early next week.

[2015-06-23 21:33] junr03 commented on #88
Thanks!

[2015-06-26 19:16] Pragith commented on #79
This is the right syntax (after hours of trying):
(Note - You've to focus on the first line. Notice to double-quotes)

    Sys.setenv('SPARKR_SUBMIT_ARGS'='"--packages" "com.databricks:spark-csv_2.10:1.0.3" "sparkr-shell"')

    library(SparkR)
    library(magrittr)

    # Initialize SparkContext and SQLContext
    sc <- sparkR.init(appName="SparkR-Flights-example")
    sqlContext <- sparkRSQL.ini

[2015-06-29 15:48] silasdavis opened #89 "Support for disabling CSV quote"
I have some tab separated files that may contain all sorts of other characters. I do not want to interpret any character as the quote character, however currently I can't find a way to set it to null, which by the apache commons-csv documentation would disable quoting:

https://commons.apache.org/proper/commons-csv/apidocs/org/apache/commons/csv/CSVFormat.html#withQuote(char)

"quoteChar - the quo

[2015-06-30 20:27] junr03 commented on #88
closed by https://github.com/apache/spark/pull/6891

[2015-06-30 20:27] #88 closed

[2015-07-01 20:53] saifellafi commented on #64
Hello,

I am finding myself in a situation, where data coming from spark-csv fails to be casted. I am trying to get the data into a PairedRRD:

            sqlc.read.format("com.databricks.spark.csv").
            option("header", "true").
            option("charset", "UTF8").
            load("/path/to/file.csv").

            map[(BigInt, Double)](pck_col => (
                pck_col.getAs[BigI

[2015-07-01 20:57] yhuai commented on #64
@saifellafi What is your exception?

[2015-07-01 21:00] saifellafi commented on #64
Running from a zeppelin notebook:
org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 644.0 failed 1 times, most recent failure: Lost task 0.0 in stage 644.0 (TID 2105, localhost): java.lang.ClassCastException Driver stacktrace: at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1266) at

[2015-07-01 21:05] yhuai commented on #64
@saifellafi Seems it is not the complete stack trace. I think you can find the real exception appearing below this message. Can you add that?

[2015-07-01 21:32] saifellafi commented on #64
Appreciate your time, and sorry for bad output: allow me throw this:

org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 3.0 failed 1 times, most recent failure: Lost task 0.0 in stage 3.0 (TID 5, localhost): java.lang.ClassCastException: java.lang.String cannot be cast to java.lang.Double at scala.runtime.BoxesRunTime.unboxToDouble(BoxesRunTime.java:119) at scala.r

[2015-07-01 21:42] yhuai commented on #64
@saifellafi oh i see. For now, if you do not specify the data types of columns, spark-csv will use `StringType` as the type of columns. Assuming your are using scala, you can check the schema of the dataframe by using,
[code]
You should see types of columns are all `string`. Actually, since your file has a header, you can use
[code]
to get a dataframe with the two columns you want.

btw, if you ar

[2015-07-01 21:56] saifellafi commented on #64
I can't thank you enough. Been stuck with that issue for two days. I am learning both scala and spark, definitely need to refresh some concepts

[2015-07-01 22:00] yhuai commented on #64
@saifellafi Glad I can help! If you have any further question related to spark and spark csv (or other spark libs), feel free to send your question to spark user mailing list user@spark.apache.org.

[2015-07-02 15:15] Michael-Frank commented on #89
+1
I have the same problem since i switched from spark-csv 1.0.3 to 1.1.0 (i had to because of  to spark 1.4 and their new unsafe UTF8 string)

Basically the  1.1.0 version spark-csv ignores the "isNullable"=true flag in StructType, which fails if the DataType !=String.
[code]
This causes the cast to dataType in class com.databricks.spark.csv.CsvRelation, in the following method to fail:
[code]

M

[2015-07-02 16:05] dsdinter commented on #60
+1

[2015-07-02 18:53] nrpeterson opened #91 "Read csv from existing RDD[String] rather than from filesystem path?"
Is there a simple way to create a Dataframe from an RDD[String], where each element of the RDD is a row from a CSV file?  We have some malformed CSVs that we're trying to work with, and being able to do something like
[code]
(or something similar), without the intermediate step of creating new, fixed CSVs, would be really helpful.

[2015-07-06 18:50] jasonfreier commented on #83
I'm also running into this same issue when trying to execute either locally on the name node, or by distributing it out with the yarn client.

[2015-07-06 20:28] mnarrell commented on #60
+1 or the ability to provide a StructType?

[2015-07-09 06:05] nlothian opened #96 "Header column names prefixed with spaces should be trimmed"
Loading a CSV (note that Month, Day, minimum_air_temperature_in_K and maximum_air_temperature_in_K are prefixed with spaces):

Year, Month, Day, minimum_air_temperature_in_K, maximum_air_temperature_in_K,precipitation_amount_in_kg_m-2,TDTR_in_K,TAVG_in_K
1979,1,1,296.1,298,3.2,1.9,297.05

Gives:

root
 |-- Year: string (nullable = true)
 |--  Month: string (nullable = true)
 |--  Day: string (null

[2015-07-09 23:15] maym86 commented on #60
+1

[2015-07-12 17:04] hoffmann opened #97 "spark-csv fails to load csv with empty fields"
Environment: spark 1.4 with com.databricks:spark-csv_2.10:1.1.0

spark-csv fails to load csv files with empty fields, even if I declare nullable=True in my schema definition:

[code]

csv file (first entry has no value set)

[code]

Exception
[code]

Expected behaviour is imho that there are inserted null values instead of raising an exception. Eg add something like

[code]

to

https://github.com

[2015-07-13 12:24] mkanchwala opened #98 "Exception While Parsing the Csv"
Hi Guys,
I used the library to parse a Pipe delimited file and threw me this exeception

2015-07-13 17:39:47,583 ERROR [Example][Executor task launch worker-0|CsvRelation$] 209 apply Exception while parsing line: b0be2d059eb2cdc608f9c345d1ea144e|0006f788fcbd963d836a118e9c9cf30b|5fff401425eafe99b832a80f4751202d|3e0d30e5a4fa79f18617f0b5bb08d8a6|524290|2014|9b1834adbc4c88e383476f61c8138431|53fe6b6b-0

[2015-07-13 12:32] mkanchwala commented on #98
And when I took it as StringType instead of Double in my schema then it threw :

java.lang.IllegalArgumentException: For input string: "\N"

[2015-07-13 19:03] mkanchwala commented on #98
https://github.com/databricks/spark-csv/issues/46

[2015-07-13 19:03] mkanchwala commented on #98
Linking the code used for the Same

[2015-07-14 00:50] bmc opened #99 "StringType is not a DataType in pyspark"
When attempting to specify a schema manually in pyspark, an assertion fails.

[code]

Exception  (as reported in _ipython_):

[code]

Further info:

[code]

[2015-07-14 01:08] falaki commented on #99
Ping @davies

[2015-07-14 09:15] 1stdayonthejob commented on #86
I'm using the cars.csv from the readme and am also getting blank results.

[code]

[code]

I would expect the 'blank' column in the Tesla line to be null.

Also if I add commas in the cars.csv file to have it separate all columns

[code]

then all the fields are emty string rather than nulls

[code]

[2015-07-14 13:29] 1stdayonthejob commented on #64
I'm using pyspark and explicitly specifying the schema but still throws when I try to do .show() or .rdd

Input:
[code]

[code]

schema:
[code]

stacktrace:
[code]

I've tried callling select on the result DataFrame using 'int' and 'string' and both throws the same exceptions

[2015-07-14 14:50] funnng commented on #81
[code]
output：
[code]

the csv content(contains some Chinese character):

[code]

it seems that spark-csv still not working well with encoding.

[2015-07-14 16:11] yhuai commented on #64
@1stdayonthejob What is the version of Spark CSV? Can you try 1.1.0 (this issue should be fixed in this version)?

[2015-07-14 16:57] davies commented on #99
@bmc In PySpark, we need to use a instance of `StringType` as datatype.

[2015-07-14 17:06] bmc commented on #99
That fixes it. Docs were misleading. Closing issue.

[2015-07-14 17:06] #99 closed

[2015-07-14 18:21] snudurupati commented on #64
Just want to confirm that I was having a similar issue with Spark 1.4.0 and Spark CSV 1.0.3, upgrading to Spark CSV 1.1.0 resolved the issue.

[2015-07-14 18:49] #60 closed

[2015-07-14 20:29] pmackles commented on #81
@funnng - so UTF8 is the default charset that is used by Hadoop/Spark. In other words, when the charset is UTF8, the old code path is still used (i.e.SparkContext.textFile()). Are you using newline andor carriage returns to separate records?

[2015-07-15 02:27] funnng commented on #81
@pmackles i used returns(\n) to sepatrate records

[2015-07-15 09:04] 1stdayonthejob commented on #64
@yhuai yes you're right it works now, must've been my copy and pasting from the readme and I see that it's been updated now.

Thanks!

[2015-07-15 14:07] jspeis opened #101 "Issue Saving CSVs in Python"
Here is a sample CSV file:

    apple,orange
    1,2
    3,4

Now I want to load it in, and save it as a test:

    df = sqlContext.read.format('com.databricks.spark.csv').options(header='true').load('test.csv')
    df.select('apple', 'orange').write.format('com.databricks.spark.csv').save('new_data.csv')

This method however, does not output a CSV but rather a folder containing 3 files: part-0000

[2015-07-15 14:46] yhuai commented on #64
@falaki @evacchi I am going to close this issue since it has been fixed in Spark CSV 1.1.0.

[2015-07-15 14:46] #64 closed

[2015-07-15 18:43] falaki commented on #101
No this is intended behavior. Spark writes one file per partition and default number of partitions is two. You can change that using repartitioning.

[2015-07-15 18:43] #101 closed

[2015-07-15 18:54] jspeis commented on #101
Seems odd though that the API is not designed in a way that the output of save() is valid input for load()?

[2015-07-15 18:57] falaki commented on #101
You can pass a directory to ```load()``` function. The output of ```save()``` is valid for ```load()```. Does it not work for you?

[2015-07-15 19:07] jspeis commented on #101
Actually it's working perfectly fine - sorry about the confusion!

[2015-07-15 19:23] jspeis commented on #101
Works perfectly fine - sorry for the confusion

[2015-07-16 21:23] #17 closed

[2015-07-16 21:23] #43 closed

[2015-07-16 21:24] falaki commented on #50
This was released in Spark 1.4.

[2015-07-16 21:24] #50 closed

[2015-07-16 21:36] falaki commented on #81
The PR that adds this feature is merged to master but not released yet. I will be cutting a new release soon. Please try again after that.

[2015-07-16 21:36] #81 closed

[2015-07-16 21:40] falaki commented on #89
@silasdavis please take a look at CsvParser.csv. We are not checking if quote is null or not and we pass it to CsvRelation which is then passed to CSVFormat.

[2015-07-16 21:42] #79 closed

[2015-07-17 18:54] #85 closed

[2015-07-17 18:54] #97 closed

[2015-07-18 02:59] #84 closed

[2015-07-21 13:44] dsdinter commented on #96
Actually this caused issues later in the pipeline when trying to register the DF as Table.

[2015-07-22 11:13] mmrezaie opened #104 "BooleanType"
This is very simple but I was wondering if it can be integrated.

I am reading boolean values in my csv file as 0 or 1 representing false and true. Right now I am fixing this myself but it would be really good if spark-csv could recognize this but it doesn't right now.

[2015-07-23 02:00] tly1980 opened #106 "Can we have partition discovery for Spark-CSV as well ?"
You know, just like the one we have in the Parquet file.

I would be also happy to implement one if someone can just roughly point me the direction.

[2015-07-25 15:40] pepmadon opened #108 "pyspark package install"
bin/pyspark --packages com.databricks:csv_2.10:1.1.0

install looks for this
 https://repo1.maven.org/maven2/com/databricks/csv_2.10/1.1.0/csv_2.10-1.1.0.jar

 actual site is this

https://repo1.maven.org/maven2/com/databricks/spark-csv_2.10/1.1.0/csv_2.10-1.1.0.jar

[2015-07-26 04:33] pepmadon commented on #108
wrong -  bin/pyspark --packages com.databricks:csv_2.10:1.1.0

correct - bin/pyspark --packages com.databricks:spark-csv_2.10:1.1.0

My fault  left off prefix "spark-"

[2015-07-26 04:33] #108 closed

[2015-07-28 18:25] vats-div opened #110 "new release with inferSchema option"
I noticed that the latest code has an option to infer the schema, which is great!  Is there a timeline to include this in the next release?  I don't think it is part of 1.1.0.  Thanks!

[2015-07-28 22:21] falaki commented on #110
I will cut a release soon. There are two PRs waiting to be merged which also add useful features.

[2015-07-29 11:09] xmehaut opened #111 "Pb executing the simple example given in the read.me file"
Hello
I've just tried to use spark-csv by trying to run the simple exmaple :+1:
val df = sqlContext.read.format("com.databricks.spark.csv").option("header", "true").load("cars.csv")
in my spark-shell console. I've previously loaded the spark-csv package through the given command line.

When i run the example, i get the following error :
scala> val df = sqlContext.read.format("com.databricks.spark.

[2015-07-29 11:11] xmehaut opened #112 "documentation up to date?"
hello,
when i look at the examples founded in the src directory, I don't see any example like in the read.me file, but instead the use of CSVReader ou CsvParser ... Which method has to be applied? why is it not documented?

best regards
Xavier

[2015-07-30 15:19] #110 closed

[2015-07-30 15:27] vats-div commented on #104
Maybe you are already doing this, but you can try specifying a schema when reading the csv file.  The way to do it in pyspark is

[code]

The scala API is similar.

[2015-08-01 16:11] hbutani opened #114 "sbt/sbt issue: Invalid or corrupt jarfile sbt/sbt-launch-0.13.6.jar"
Did a git clone and ran
sbt/sbt compile

I get:
Executing command line:
java
-Xms2048m
-Xmx2048m
-XX:MaxPermSize=512m
-XX:ReservedCodeCacheSize=256m
-jar
sbt/sbt-launch-0.13.6.jar
compile

**Error: Invalid or corrupt jarfile sbt/sbt-launch-0.13.6.jar**

Some more context:
- so far I had being using a local install of sbt (0.13.6). Running  sbt compile works just fine, with sbt pointing to my local

[2015-08-03 11:41] varadharajan commented on #114
I'm facing this issue as well.

[2015-08-03 18:20] vats-div opened #115 "using spark-csv with a map call"
I was wondering if there is any way to call the read/write csv inside a map call.  For example, the following code gives an error ```Py4JError: Trying to call a package```
[code]
I tried to do something similar in scala, but got errors as well.

[2015-08-03 18:40] brkyvz commented on #115
You can't call it inside an rdd.map function. You may call it for a list and then union those dataframes if you are interested in loading multiple csv files. For example,
[code]

[2015-08-03 19:35] vats-div commented on #115
I was calling it using a list comprehension, but didn't realize I could use reduce after that - thanks for the tip!

[2015-08-03 19:35] #115 closed

[2015-08-04 09:44] buyology opened #116 "Charset option (in this case: iso-8859-1) failing in pyshell"
Trying to import files using the `pyspark` shell — encoded in `iso-8859-1`. But they keep on failing me even with **charset** option set to the appropriate encoding — resulting in lots of �'s.

I tried the testfile:
https://raw.githubusercontent.com/databricks/spark-csv/master/src/test/resources/cars_iso-8859-1.csv

**Ran the following:**
`df = sqlContext.read.format('com.databricks.spark.csv').op

[2015-08-04 14:09] ogirardot commented on #111
You must have forgot to launch your shell using the  `--packages ...` command line.

[2015-08-04 15:17] xmehaut commented on #111
Hello,

thanks for answering : I'v found since the pb...it was a scala version pb ,
I had the 2.10 and I used the 2.11 :-(
sorry

up to now my pb is now to write the csv :) on a file

best regards

2015-08-04 16:09 GMT+02:00 Olivier Girardot <notifications@github.com>:

[2015-08-04 17:54] rnowling commented on #72
For Gzipped files, the HadoopInputFormat treats the entire file as a split.  If you are trying to read in many CSV files the performance hit from not being able to parallelize operations on a single file may not be a huge issue.  Thus, you may just write a CSVInputFormat that treats the entire file as a split.

[2015-08-04 18:02] rcongiu commented on #72
Thanks..I was thinking the same thing. We ended up just eliminating the problem at the root, that is, CSV is not the best format anyway, and we're pulling data from an external provider through a REST API which returns data in CSV, so instead of doing REST -> local FS -> HDFS we are doing REST -> Kafka -> Parquet instead.

[2015-08-05 23:04] merlintang opened #118 "does this work for the spark 1.4.1"
I run this code

subset.write.format("com.databricks.spark.csv").option("delimiter", "~").save(outputname)

where subset is a dataframe

then, it throws those errors
Exception in thread "main" java.lang.IncompatibleClassChangeError: class com.databricks.spark.csv.CsvRelation has interface org.apache.spark.sql.sources.TableScan as super class
	at java.lang.ClassLoader.defineClass1(Native Method)
	a

[2015-08-05 23:26] falaki commented on #118
Would you double check if your Spark JARs and your spark-csv JAR are for the same version of Scala?

[2015-08-06 16:09] merlintang commented on #118
for the spark, I am using the scala 2.10.4
for the spark-csv, I am using the sbt file. libraryDependencies += "com.databricks" % "spark-csv_2.10" % "1.1.0" . In order to run it on the cluster, I download the jar file from the http://mvnrepository.com/artifact/com.databricks/spark-csv_2.10/1.1.0, and put this jar as the dependence jar.
thanks for your quick answering. many thanks.

[2015-08-06 17:43] marmbrus commented on #118
This actually looks like a Spark version mismatch to me.

[2015-08-07 01:48] kevinskii commented on #58
It seems that the org/apache/commons/csv/CSVFormat dependency isn't being packaged in the spark-csv jar file. Downloading the binary from (https://commons.apache.org/proper/commons-csv/download_csv.cgi), extracting the .jar from it and setting the permissions, and finally including it in the list of comma-separated JAR files following the "--jar" option when running the Spark shell solved it for m

[2015-08-10 19:15] dhirajunraveldata opened #119 "Write CSV without quotes"
I am looking to write a CSV file with out quotes. Default is ". When I tried it with .option("quotes","") I got error message "only one quote is allowed".

        If this(writing with out quotes) is not supported in current version any pointers who to implement this would be appreciated.

[2015-08-10 19:26] falaki commented on #119
spark-csv does not quote string fields by default. The quote character is used for reading data that include the delimiter inside quotation marks.

[2015-08-11 10:23] Krakitos opened #120 "Header with dot inside variable names make DataFrame not queryable"
Consider the following CSV structure : session.connectionDuration, travel.nbVisitedMap, travel.nbMapMovement, travel.mapCycleFactor, network.meanDelay, network.stdDevDelay

I read the file using the following :

[code]
When I ask to output the schema, all go fine :

[code]

But when trying to manipulate the Dataframe, I got the following error :

[code]

[2015-08-11 14:03] mmrezaie commented on #104
in most cases that I am working, I have a lot of csv files to read and I am building schema (StructType) myself individually.

[2015-08-11 16:53] marmbrus commented on #120
Which version of Spark are you using?  You are maybe hitting: https://issues.apache.org/jira/browse/SPARK-5632

[2015-08-11 17:22] Krakitos commented on #120
I'm using Spark 1.4.1

[2015-08-13 01:56] vinodatpds commented on #27
Hi,
My pom entries are  :

<dependencies>
		<dependency>
			<groupId>org.apache.spark</groupId>
			<artifactId>spark-core_2.10</artifactId>
			<version>1.4.1</version>
		</dependency>
		<dependency>
			<groupId>org.apache.hadoop</groupId>
			<artifactId>hadoop-client</artifactId>
			<version>2.7.1</version>
		</dependency>
		<dependency>
            <groupId>org.apache.spark</groupId>

[2015-08-13 01:59] brkyvz commented on #27
It's because you are using spark-csv_2.11 but spark-sql_2.10. Could you
also please change 2.11 to 2.10 for spark-Csv?
On Aug 12, 2015 6:56 PM, "Vinod Jayakumar" <notifications@github.com> wrote:

[2015-08-13 02:10] vinodatpds commented on #27
Thanks for the quick reply.
this didnt work :(
I changed spark-csv to 2.10 to match with spark-sql version 2.10.

<dependency>
            <groupId>org.apache.spark</groupId>
            <artifactId>spark-sql_2.10</artifactId>
            <version>1.3.0</version>
        </dependency>
		<dependency>
            <groupId>com.databricks</groupId>
            <artifactId>spark-csv_2.10</artifactId>

[2015-08-13 02:11] brkyvz commented on #27
Could you also match your spark-sql and spark-core version? To 1.4.1
perhaps?
On Aug 12, 2015 7:10 PM, "Vinod Jayakumar" <notifications@github.com> wrote:

[2015-08-13 02:12] brkyvz commented on #27
In fact you don't need spark-core once you have spark-sql.
On Aug 12, 2015 7:11 PM, "Burak Yavuz" <burak@databricks.com> wrote:

[2015-08-13 02:17] vinodatpds commented on #27
it worked now. Sorry it was a silly miss from my side. I was importing scala.row and other older imports.
i replaced them with these
import org.apache.spark.SparkConf;
import org.apache.spark.api.java.JavaSparkContext;
import org.apache.spark.sql.DataFrame;
import org.apache.spark.sql.Row;
import org.apache.spark.sql.SQLContext;

@brkyvz Thanks a lot for your replies

[2015-08-13 05:23] svravitej commented on #98
I have gotten the same problem.

I am using spark-csv_2.10 : 1.2.0

Seems like the issue #46 gives a work around for lower versions of spark-csv.

Could anyone let me know how to fix this for the version I am using (1.2.0) ?

[2015-08-13 16:07] falaki commented on #98
@svravitej would you please include the exception and the (relevant part of) input data that causes the exception?

[2015-08-13 16:48] falaki opened #122 "Implement support for append mode"

[2015-08-13 16:49] falaki opened #123 "Implement support for partitioned data"

[2015-08-13 16:50] falaki commented on #116
@buyology would you please try this with spark-csv version 1.2.0?

[2015-08-13 16:51] #111 closed

[2015-08-14 20:11] jrpilat commented on #114
## Problem 1
sbt/sbt-launch-lib.bash contains:
[code]
__${SBT_VERSION}__ is 0.13.6, according to project/build.properties.
__http://typesafe.artifactoryonline.com/typesafe/ivy-releases/org.scala-sbt/sbt-launch/0.13.6/sbt-launch.jar__ does not exist, and returns a 404, which is literally saved into the file __sbt/sbt-launch-0.13.6.jar__.

For a temporary workaround, comment out URL1 in the file men

[2015-08-14 20:14] brkyvz commented on #114
The typesafe repositories changed. You would need to make the changes shown here:
remove both URLs and add this
`URL1=https://dl.bintray.com/typesafe/ivy-releases/org.scala-sbt/sbt-launch/${SBT_VERSION}/sbt-launch.jar`

[2015-08-18 11:19] kgs opened #128 "inferSchema does not work with Spark 1.3.0"
I am using Scala 2.10.5 with Spark 1.3.0 from CDH (spark-csv_2.10 version 1.2.0). When I try to use inferSchema=true I get following exception:

	Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/spark/sql/types/AtomicType
		at com.databricks.spark.csv.CsvRelation.inferSchema(CsvRelation.scala:155)
		at com.databricks.spark.csv.CsvRelation.<init>(CsvRelation.scala:70)
		at com.

[2015-08-18 12:36] dtpeacock commented on #128
Scala's type inference has chosen this type signature:

`public static org.apache.spark.sql.types.AtomicType tryParseInteger(java.lang.String)`

As you say AtomicType is only available in 1.4! It's an easy fix, I will do it later today. A very quick workaround is to compile it with 1.3.

[2015-08-18 14:00] kgs commented on #128
Thanks, I'll wait for fix then :)

[2015-08-18 20:04] dtpeacock commented on #128
Hmm I can't seem to get rid of that reference even when it is removed from the type signature. It looks like the classes may have changed enough to not be compatible.  @falaki any suggestions?

I have confirmed that compiling against 1.3.0 fixes this issue.

[2015-08-18 20:46] #62 closed

[2015-08-18 20:46] #91 closed

[2015-08-18 23:25] anabranch commented on #58
@kevinskii fixed my issue.

[2015-08-18 23:36] anabranch commented on #83
same thing when I try and use Spark-CSV on a zeppelin notebook.

[2015-08-18 23:50] falaki commented on #83
On number 1, you need to include the dependancies for spark-csv. Basically, spark-csv jar is not a fat jar, so you need to include its dependancies explicitly.

[2015-08-19 07:00] svravitej commented on #98
@falaki

This is the input I am using (test.csv)

Now when I execute the below code and do a df.show I get the below error

[code]

*Error*
[code]

[2015-08-19 13:00] svravitej commented on #98
The castTo method of TypeCast class is unable to resolve '\N' to null.
Due to which we are getting a NumberFormatException.

These lines from TypeCast.scala
[code]
says that null is returned only when the datum is one of the values in the if condition (above).

I think, '\N' should also be evaluated in the if condition to return null or the user should be able to provide the null value (\N or NULL

[2015-08-19 18:48] falaki commented on #98
@svravitej based on your use cases, do you think configurable null value resolves this issue? Specifically, I am wondering if I recover https://github.com/databricks/spark-csv/pull/76 it would be enough for such use cases.

[2015-08-19 18:53] karenyyng commented on #59
Some follow up questions:
1. Do we have to add the compiled jar, .e.g `$<PATH_TO>/spark-csv/target/scala-2.10/spark-csv_2.1X-1.2.0.jar` to the `CLASSPATH` variable of Spark?

2. When I try to run the following:
[code]
I get an error
[code]
Does this package require the installation of [Common CSV](http://commons.apache.org/proper/commons-csv/index.html) as a dependency?

[2015-08-19 20:20] falaki commented on #59
Yes, you need to include dependancies for spark-csv as well. A I suggested before, the recommended approach is using ```--packages``` flag with Spark.

[2015-08-20 05:49] svravitej commented on #98
Yup, as in #76, providing another option like `.option("null_values", Seq("NULL", "NA", "NaN"))` would help a lot.

[2015-08-20 13:31] Lewuathe opened #129 "spark-csv_2.11-s_2.11 not found"
My spark environment is built from master source for hadoop-2.6.
[code]

I cannot find `1.2.0-s_2.11` but it's okay with only `1.2.0`. In the [README](https://github.com/databricks/spark-csv/blob/master/README.md) and [spark package](http://spark-packages.org/package/databricks/spark-csv), `1.2.0-s_2.11` looks standard way to install spark-csv. Is that correct?
Should we install with `1.2.0` not `

[2015-08-20 13:43] brkyvz commented on #129
Yes, please use `com.databricks:spark-csv_2.11:1.2.0`. It's an issue on Spark Packages side, and it will be fixed.

[2015-08-20 20:06] pwrose opened #130 "inferSchema option does not infer TimestampType"
Version 1.2.0: The inferSchema option does not convert data in the timestamp format YYYY-MM-DD HH:MM:SS to a TimestampType. It keeps it as StringType.

[2015-08-20 20:11] falaki commented on #130
Thanks for reporting the issue.

[2015-08-20 21:03] avilay opened #131 "FAILFAST mode does not show which line it failed on"
It would be good if the FAILFAST exception gave the line number or the contents of the line it failed on. Currently I get something like -

    Malformed line in FAILFAST mode: [Ljava.lang.String;@5f16e0c

Looking at https://github.com/databricks/spark-csv/blob/master/src/main/scala/com/databricks/spark/csv/CsvRelation.scala#L109 it seems that this is because the entire $tokens array is being prin

[2015-08-20 22:14] #131 closed

[2015-08-20 23:18] #130 closed

[2015-08-20 23:28] falaki opened #134 "Consolidate CSV and FastCSV Suites"
We can avoid code duplication by refactoring these two suites.

cc @brkyvz

[2015-08-21 00:52] brkyvz commented on #134
Closed by #135

[2015-08-21 00:52] #134 closed

[2015-08-21 09:02] buyology commented on #116
@falaki Yes, the problem remains. Actually I could only work around this problem by converting files to UTF-8 and then forcing `defaultencoding` in python (because of some reason the problem remained even after conversion…)

    import sys
    reload(sys)
    sys.setdefaultencoding('UTF8')

I suppose there must be a better way.

[2015-08-21 09:59] buyology opened #136 "Writing with options such as header, delimiter and quote?"
Is it possible to access `header`, `delimiter` and `quote` during output?

[code]

yields `'DataFrameWriter' object has no attribute 'option'` and trying to pass them through `options` yields `TypeError: options() takes exactly 1 argument`.

What is the correct syntax? (If implemented.)

[2015-08-21 17:47] hbutani commented on #114
Thanks, adding -L to the curl command, and using the URL suggested by @brkyvz  worked for me.

[2015-08-21 17:47] #114 closed

[2015-08-21 18:36] falaki commented on #136
For PySpark you pass options as last arguments to ```save()```:
[code]
See documentation here: http://spark.apache.org/docs/latest/api/python/pyspark.sql.html

[2015-08-24 10:07] samuel-pt opened #137 "Unable to use the package in Spark shell"
Below are the steps that I did. Started spark-shell using below command

`bin/spark-shell --packages com.databricks:spark-csv_2.10:1.2.0`

In the shell, executed the following scala code

    scala> val hadoopConf = sc.hadoopConfiguration
    scala> hadoopConf.set("fs.s3.impl", "org.apache.hadoop.fs.s3native.NativeS3FileSystem")
    scala> hadoopConf.set("fs.s3.awsAccessKeyId", "****")
    scala>

[2015-08-24 18:57] yhuai commented on #137
@samuel-pt Can you try set those hadoop conf through
[code]
and see if it works?

[2015-08-25 03:55] samuel-pt commented on #137
@yhuai - Still getting the same issue

I've did the following
[code]

[2015-08-25 11:46] kapil-rajak commented on #118
I see the same issue, using given versions.

[2015-08-26 12:17] samuel-pt commented on #137
@yhuai  - I doubt its an issue with s3 configuration since I am able to load it using sc.textFile(s3path)

[2015-08-26 12:29] vherasme commented on #118
How do I use this in a pySpark notebook (jupyter for example) ?

[2015-08-26 18:44] marmbrus commented on #137
You need to set `fs.s3n.awsAccessKeyId` if you are going to use `s3n`

[2015-08-26 18:52] falaki commented on #118
@vherasme start pyspark with ``` --packages``` option and pass spark-csv to it (look at the README on github).

[2015-08-26 21:38] stati opened #139 "inferSchema with sample data?"
inferSchema doc says "It requires one extra pass over the data"
Is there an option to infer schema with a small sample and fail if rest of data doesn't adhere to inferred schema?

[2015-08-26 21:56] falaki commented on #139
Not yet. That may come later, especially if users find it very useful in practice. Note that, when inferring schema from a sample, there is a non-zero chance for wrong types or missing fields in the inferred schema.

[2015-08-27 01:34] HollyXuCS commented on #128
Hi dtpeacock, I met the same issue.  Wonder when will the fix be available? Thanks!

[2015-08-27 11:17] vherasme commented on #118
In my case I only open the terminal (Ubuntu 14.04) and input this:

**ipython notebook --profile spark**

When the notebook opens I run these lines:

**from pyspark import  SparkContext**
**sc = SparkContext( 'local', 'pyspark')**

After that I start creating RDD's as usual.

[2015-08-27 17:37] jotterbach opened #140 "spark-csv package does not work with hive context"
I want to read in a csv file from disk using a Hive Context so I can subsequently use window functions. However it seems that the csv file format provided by this package is not compatible with HiveContext `read()` functionality

The following code is successful:
[code]

However if I exchange the SQLContext for a HiveContext
[code]

The system breaks with the following stacktrace:

It also becomes

[2015-08-27 18:31] falaki commented on #118
I don't know IPythonNotebook enough to answer this. Would be good to ask this on their lists/forumes. Basically you want IPythonNotebook to pass additional arguments to pyspark when it launches it.

[2015-08-27 18:37] yhuai commented on #140
What is the spark version? If it is 1.4.0, can you try 1.4.1?

[2015-08-27 19:07] jotterbach commented on #140
The first try was 1.4.0 as you correctly guessed. Tried it with 1.4.1 now and it seems to work. Thanks a lot!

[2015-08-27 19:07] #140 closed

[2015-08-27 19:27] yhuai commented on #140
Cool. So, I think https://issues.apache.org/jira/browse/SPARK-8368 is the one fixed the problem in Spark 1.4.1.

[2015-08-28 14:10] nicolasdalsass commented on #137
Since you use a s3n url, you need to set fs.s3n.impl , not fs.s3.impl.

[2015-08-28 19:01] JoshRosen commented on #118
I am going to close this ticket as "Cannot Reproduce" for now. I tested this out locally with many different combinations of compile-time and runtime Spark versions and was unable to reproduce this bug.

@vherasme, I don't think that this issue is the right thread to be discussing questions about using this library with PySpark, since that is not related to the subject of this discussion. If you'd

[2015-08-28 19:01] #118 closed

[2015-08-28 19:02] JoshRosen commented on #118
@kapil-rajak, @merlintang, if you have additional information that can help me to reproduce / debug this issue, then please re-open and update this issue. It would be helpful if you could double-check the exact Spark versions that you're running with. It would also be helpful to list any configurations where this version _did_ work for you.

[2015-08-28 19:45] JoshRosen commented on #128
I was able to reproduce this issue as part of #138, which adds 1.3.0 to our Travis build matrix. My build configuration actually compiles against 1.4.0 but tests against 1.3.0, so it was able to reproduce this exact stacktrace. I'm going to go ahead and fix this as part of that patch; hopefully this will be easy now that we have a way to automate these compatibility tests.

[2015-08-28 20:46] JoshRosen commented on #128
Using `javap`, I figured out why fixing the type signature inference was not sufficient to fix this issue: it looks like Scala still generates a classfile with a constant pool that contains AtomicType even though none of the class's bytecode references that class. What I think might be happening is that some intermediate compiler phase is causing AtomicType to be placed into the pool, but later ph

[2015-08-28 20:49] JoshRosen commented on #128
By the way, this is an interesting enough `scalac` behavior that I'm planning to write up a longer post on it once I have some time.

[2015-08-28 20:52] dtpeacock commented on #128
Indeed - this was exactly what I found too!

It looked like it was present to be present in the StackMapTable, and I tried to trick the compiler by trying various type signatures but wasn't able to. Interesting stuff!

https://docs.oracle.com/javase/specs/jvms/se7/html/jvms-4.html#jvms-4.7.4

[2015-08-28 21:07] JoshRosen commented on #128
Hmm, switching the default build to 1.3.0 seems to cause the opposite problem when running against 1.4.0+: we get a similar error for `NativeType`.

[2015-08-28 21:13] JoshRosen commented on #129
Given that this is a Spark Packages issue, I'm going to close this issue. Please re-open if there are any actions to take in `spark-csv` itself.

[2015-08-28 21:13] #129 closed

[2015-08-28 21:30] dtpeacock commented on #128
I've narrowed it down a bit - it is something to do with how the exceptions are handled in scalac.

It seems swapping `(allCatch opt Timestamp.valueOf(field)).isDefined)` out for something else removes the references in the StackMapTable in the class file..

[2015-08-28 22:06] JoshRosen commented on #128
I found another workaround: define a method that returns the `StringType` constant, then call that method inside of `tryParseTimestamp` instead of putting `StringType` there directly. This is sufficient to make the compatibility tests pass.

[2015-08-29 04:51] samuel-pt commented on #137
Thanks for pointing it out.

With the below code and with additional jars added in classpath it worked

[code]

[2015-08-29 04:51] #137 closed

[2015-08-30 15:52] rkpandey commented on #122
I can work on this....

[2015-08-30 22:38] randerzander commented on #61
This seems to expose an issue with dataframes themselves: https://issues.apache.org/jira/browse/SPARK-10357

My data looks like:
MI_PRINX,offense_id,rpt_date,occur_date,occur_time,poss_date,poss_time,beat,apt_office_prefix,apt_office_num,location,MinOfucr,MinOfibr_code,dispo_code,MaxOfnum_victims,Shift,Avg Day,loc_type,UC2 Literal,neighborhood,npu,x,y,,,
934782,90360664,2/5/2009,2/3/2009,13:50:00,

[2015-08-31 19:30] stati commented on #139
Yeah, there is a scope to infer schema incorrectly. Current behavior can be left as default. Quite a few CSVs I'm looking at won't have that issue.

[2015-08-31 23:53] stati opened #141 "Number of partitions."
Is it possible to set no.of partitions that will be created when reading a CSV?
Similar to minPartitions in sc.textFile("/Path/to/file",40)

[2015-09-03 13:16] schnee commented on #120
I get this same behavior on Spark 1.3.1

[2015-09-03 21:43] sfelsheim opened #142 "DataFrames created using CSV reader failing join"
I have two simple CSV files, address and people, with the following contents.

addrId,city,state,zip
0,sometown,wi,4444
2,bedrock,il,1111

first,last,addrId
your,mom,1
fred,flintstone,2

I load them into DataFrames using:

    DataFrame pDf = sqlContext.read().format("com.databricks.spark.csv")
                .option("header", "true")
                .option("inferSchema", "false")

[2015-09-03 21:51] sfelsheim commented on #142
One other note.  In application I am working that this problem came from, I am writing the DataFrame created by the CSV reader to HDFS in Parquet format.  This problem persists even when I read the data back into DataFrames from Parquet.

[2015-09-09 01:51] JoshRosen commented on #142
Is there a leading space in `address.csv`? I'm wondering if the column name has an extra space character in it, since the spacing in `Cannot resolve column name     "addrId" among (﻿addrId, city, state, zip);` looks funny to me.

[2015-09-09 01:56] JoshRosen commented on #136
The `.option()` method was added to the PySpark API in 1.5.0: https://spark.apache.org/docs/1.5.0/api/python/pyspark.sql.html#pyspark.sql.DataFrameWriter.option

[2015-09-09 01:56] JoshRosen commented on #136
Is there any action to be take here on the part of `spark-csv`? Do we need to update the documentation / examples?

[2015-09-09 01:58] JoshRosen commented on #66
I'm going to close this issue as "Cannot Reproduce" pending more information from @zhaidarbek.

[2015-09-09 01:58] #66 closed

[2015-09-09 01:59] JoshRosen commented on #106
Duplicate of #123?

[2015-09-09 02:00] JoshRosen commented on #142
Just found #96, so I wonder if spaces could be the issue.

[2015-09-09 02:09] JoshRosen commented on #72
Given the discussion above, this seems like a "won't fix" for now.

[2015-09-09 02:09] #72 closed

[2015-09-09 02:11] JoshRosen commented on #89
Related to #119?

[2015-09-09 02:12] JoshRosen commented on #119
Related to #89?

[2015-09-09 02:14] JoshRosen commented on #104
I think that there's a lot of open questions to consider w.r.t. support for BooleanType, including which values we treat as booleans (true/false, t/f/, 0/1, etc.) and how we handle schema inference. I think that it's going to take some design / planning work to figure out these details.

[2015-09-09 02:16] JoshRosen commented on #86
I guess that we're only able to distinguish between empty strings and nulls if we assume that all empty strings will be quoted in the CSV?

[2015-09-09 02:32] sfelsheim commented on #142
No, no leading spaces.  Proved this to myself using this code, which works fine.

JavaRDD<Address> address = context.textFile("/Users/sfelsheim/data/address.csv").map(
            new Function<String, Address>() {
                public Address call(String line) throws Exception {
                    String[] parts = line.split(",");

                    Address addr = new Address();

[2015-09-09 12:20] sfelsheim commented on #142
The problem seems to be that the CSV was encoded as UTF-8 with BOM.  When I changed the CSV (address.csv) to UTF-8 (no BOM), then it works fine.

Would you like to me to delete issue #142 and create a new one for BOM handling?

Thanks

Steve

From:  Josh Rosen
Reply-To:  databricks/spark-csv
Date:  Tuesday, September 8, 2015 at 8:51 PM
To:  databricks/spark-csv
Cc:  Steve Felsheim
Subject:  Re: [s

[2015-09-10 01:43] JoshRosen commented on #142
I think that we can repurpose #142 to handle this. Otherwise, feel free to open a new issue and close #142.

[2015-09-10 07:34] pangjiu opened #145 "Unable to process csv file with Encoding: Unicode."
Hi,

I have a flat file which is "Unicode" encoding. However, when i use spark-csv to process the file, my output is not correct. Currently, spark-csv latest release is able to support if the file's encoding is "UTF-8".
May i know is current release support encoding for "Unicode"?

Please help.

Thanks.
![encoding](https://cloud.githubusercontent.com/assets/14213248/9782633/4926667e-57d1-11e5-86a7

[2015-09-10 10:12] dtpeacock commented on #145
Unicode is not actually an encoding, it is a standard which is encoded via UTF-8, UTF-16, etc.

When windows says "Unicode", it actually means UTF-16.

Different character sets are supported by spark, it just defaults to UTF-8. Load the file with 'charset' set to 'UTF-16' and it should work.

[2015-09-10 10:37] pangjiu commented on #145
Thanks for reply. I already change the charset to "UTF-16", but i still unable to get the right output.

![unicode_coding](https://cloud.githubusercontent.com/assets/14213248/9786191/ad818496-57ea-11e5-892f-6e7a0878b15c.PNG)

Thanks.

[2015-09-14 14:07] rozhok commented on #137
@samuel-pt how you added libs to classpath?
What version of Spark and Hadoop you use?

[2015-09-16 00:49] falaki opened #149 "Make maximum number of comment lines in header configurable"

[2015-09-17 17:08] syepes opened #150 "Assembly build not working"
Hello,

I am trying to build spark-csv with all its dependencies, but I am getting the following error.
Anyone know what is causing this issue?

[code]

Thanks for any help,
Sebastian

[2015-09-17 17:32] brkyvz commented on #150
Could you please add
spIgnoreProvided := true
to build.sbt please?
On Sep 17, 2015 10:09 AM, "Sebastian YEPES" <notifications@github.com>
wrote:

Hello,

I am trying to build spark-csv with all its dependencies, but I am getting
the following error.
Anyone know what is causing this issue?

# sbt/sbt +assembly
...
[info] ScalaTest
[info] Run completed in 37 seconds, 970 milliseconds.
[info] Total n

[2015-09-18 11:58] syepes commented on #150
@brkyvz Thanks that did the trick ;-)

[2015-09-18 11:58] #150 closed

[2015-09-18 17:29] JoshRosen commented on #150
In order to improve the out-of-the-box experience for users, I think that we should check this change into the repo and should test the assembly step in Travis. I'll submit a PR now to do this.

[2015-09-22 00:08] luckyfarru opened #152 "dataframe save doesn't append double quotes when saving the data."
HashMap<String, String> options = new HashMap<String, String>();
options.put("header", "true");
options.put("path", "cars.csv");

DataFrame df = sqlContext.load("com.databricks.spark.csv", options);
df.select("year", "model").save("newcars.csv", "com.databricks.spark.csv");

[2015-09-25 18:52] jongyonkim commented on #139
I tried using .options(header='true', inferSchema='true') on the cars.csv dataset but it doesn't seem to have inferred the schema properly. Year should be inferred as integer, not string.

Code:
df = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferSchema='true').load(LOAD_FILE_PATH)
df.printSchema()

Output:
root
 |-- year: string (nullable = true)
 |-- make: string

[2015-09-25 19:29] falaki commented on #139
What version of spark-csv are you using?

[2015-09-25 19:48] jongyonkim commented on #139
I'm using the Databricks REPL notebook. I didn't have to import anything as it should come pre-loaded. Is this the latest version? How do I check?

[2015-09-25 20:22] falaki commented on #139
I see. Spark-csv in Databricks is version 1.1.0 which does not include schema inference. We will update to latest version very soon.

[2015-09-28 02:29] pangjiu commented on #145
Hi All,
May i know any update on this issue? Is it currently only support UTF-8 encoding for flat flat ONLY?

Hope to hear from you guys soon.

Many Thanks.

[2015-10-01 00:39] AlexeyRaga opened #155 "Compression with .save(path)"
Hi, is there a way to specify the compression algorithm when doing

    frame.write.format("com.databricks.spark.csv").save(path)

Cheers, Alexey

[2015-10-02 09:58] schmee opened #156 "Failed to load class for data source: com.databricks.spark.csv"
I'm trying to run the example code from the readme, with slight modifications:

[code]

The file is then packaged with `sbt package` with this .sbt file:

[code]

Here's what happens:

[code]

Things I've tried:
- Different combinations of versions for Spark and spark-csv
- Adding `--packages com.databricks:spark-csv_2.11:1.2.0` to the `spark-submit` command

Any idea what's going on here?

[2015-10-02 10:34] schmee commented on #156
It might be worth mentioning that running `spark-1.5.1-bin-hadoop2.6/bin/spark-shell --packages com.databricks:spark-csv_2.11:1.2.0` works just fine.

[2015-10-02 14:30] pitercl opened #157 "Writing tab-separated empty strings"
Hi,

I've encountered a problem while writing a tab-separater CSV.
When the last column in a row of a DataFrame is an empty string, the preceding tab is trimmed.
From what I've seen, it happens in `CSVFormat.format()`:
[code]

This makes the row shorter than others and from what I understand goes agains RFC 4180.
An easy fix is to call the code contained in `CSVFormat.format()` manually.

[2015-10-02 20:47] syepes opened #158 "Implement trim feature"
It would be nice to have an option that trims the extra spaces and tabs before parsing the actual values.

Input Data
[code]
Spark:
[code]

Error:
[code]

[2015-10-04 07:04] nevi-me commented on #83
I presume these are all the dependencies to include when adding the jar to the classPath?

[code]

Am I correct that I should only include `commons-csv` and `univocity-parsers`? I'm assuming that the rest are for testing.

[2015-10-04 18:40] rlgarris opened #159 "Can we setup SparkSQL to allow for CREATE TABLE using csv vs using com.databricks.spark.csv"

[2015-10-04 19:04] falaki commented on #159
I think this can by done by registering an alias that maps "csv" to "com.databricks.spark.csv"
@yhuai what do you think?

[2015-10-04 19:05] brkyvz commented on #159
I remember someone was planning to work on this on the mailing list. There
might be a JIRA for it already.
On Oct 4, 2015 12:04 PM, "Hossein Falaki" <notifications@github.com> wrote:

[2015-10-04 19:18] rxin commented on #159
It's already in. https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/sources/interfaces.scala#L63

Also need to register a meta file for the package.

[2015-10-04 19:53] falaki commented on #159
Cool. I update spark-csv to use this feature now.

[2015-10-06 15:34] meox commented on #156
this works for me:
libraryDependencies += "com.databricks" % "spark-csv_2.11" % "1.2.0"

[2015-10-07 19:33] tonycpsu opened #161 "CSV load with userSchema in PySpark not working"
Test code:

[code]

Results in:

[code]

My goal is to be able to load a CSV file without a header by specifying the field names and types as a schema.  Does this work from PySpark, and if so, what am I doing wrong?

[2015-10-07 22:50] gregrahn commented on #86
+1 on this being a bug and some more thought needed in spark-csv on how to correctly handle  NULL vs empty string.  This simple example demonstrates the inconsistencies of this package.

Simply put, it should support reading a table from a source (like JDBC), writing that table out to CSV, read that data back, and have the exact same data that was in the original source.  This seems impossible tod

[2015-10-08 13:47] firemonk9 commented on #89
I am wondering if a fix for this issue is in pipeline for the next(1.3) release ?

[2015-10-08 14:44] kmader opened #162 "DROPMALFORMED should remove rows which do not match the prescribed schema if specified"
My understanding of the parsing mode "DROPMALFORMED" means that it should remove rows which do not match the prescribed schema.
With the following table as a test (test.csv):
[code]

And the prescribed schema
[code]
The following test should pass.
[code]
Instead the error is given upon execution of the count command
[code]
The error being a problem with parsing the second row "Age" value as an int

[2015-10-08 15:28] kmader commented on #162
Relevant test cases: https://github.com/databricks/spark-csv/pull/163

[2015-10-09 18:43] falaki commented on #162
closed by https://github.com/databricks/spark-csv/pull/163

[2015-10-09 18:43] #162 closed

[2015-10-12 15:16] sherman94062 commented on #83
Anyone get the Databricks CSV library working successfully with Zeppelin?  I like this library because you can do a lot with just a few lines of code, which fits nicely into the Zeppelin dashboards where you mostly want to show the results of running Scala code.
I'm getting an error which looks similar to the ones that people refer to above:
java.lang.VerifyError: class org.apache.hadoop.hdfs.prot

[2015-10-12 19:36] PamLev commented on #58
Hi Kevinskii,

I have the same problem but I'm new to Linux so I'm not sure what do you mean by "extracting the .jar from download_csv.cgi". Can you tell me how to do it? Really appreciate your help.
_Pam

[2015-10-13 04:00] PanWu opened #164 "Problems with loading 'null' value as missing data"
I am using spark-csv to read data from a table (output from sqoop). The sqoop process treat missing value as 'null', and raw data looks like following: (tab delimited, with missing data)
10001\tapple\t304\tred
10002\tpear\t203\tyellow
10003\tbanana\tnull\tyellow

PROBLEM: If the schema specify the 3rd column is long, spark-csv will raise error exception ('null' is not long type).

QUESTION: Is it

[2015-10-13 07:11] falaki commented on #164
You can specify null value using an option: ```nullValue```

[2015-10-13 14:17] PanWu commented on #164
Thanks falaki. However I tried both following command, and it still return the same error. Is this the correct syntax?

df = sqlContext.read.format('com.databricks.spark.csv').options(header='false', nullValue='null', delimiter='\t').load(data_dir, schema=data_schema)
df = sqlContext.read.format('com.databricks.spark.csv').options(header='false', delimiter='\t').load(data_dir, nullValue='null', sc

[2015-10-13 17:45] falaki commented on #164
Ah. the new features has not been released yet. It will be in the next version of the JAR that we release. You can use the feature of you compile the project.

[2015-10-14 05:27] PanWu commented on #164
I see, it is a great news to have this new feature in next release. Thank you for answering my question!

[2015-10-15 11:43] HyukjinKwon opened #166 "Support for pruned scan for required fields."
As I look through the codes, it looks it reads all the data without pruning by required fields, which i think might improve its performance in particular when the number of requested columns is few but the schema is huge (by io cost and etc.).

I understand that the parser itself parses line by line though.
Is this intentionally unimplemented for some reasons?

[2015-10-15 17:30] falaki commented on #166
We always appreciate community contribution.

[2015-10-15 17:41] JoshRosen commented on #166
Would this make a performance impact for CSV? Given a row-oriented file format like CSV, how do you save IO / network traffic by skipping reads of certain columns? I can see how column-pruning makes sense for column-oriented file formats, but I don't see an obvious way to do this for CSV.

[2015-10-15 22:57] HyukjinKwon commented on #166
There wouldn't be tremendous improvement though. I can see JSONRelatiom in Spark supports this by JacksonParser which supports skip by token.

If we know which position (rather index of fields) to read and parse, I think it can skip token by token (just like JacsonParser) without type checking and read but just move offset and position of the current stream.

[2015-10-16 00:33] yanboliang commented on #48
Currently the timestamp field will be loaded as ```StringType```. Spark SQL has already supported ```TimestampType```, so the best way is the timestamp field will be directly loaded into column with ```TimestampType`` of a DataFrame. I wondered whether spark-csv will has plan to support this feature.

[2015-10-16 17:56] #89 closed

[2015-10-20 13:52] suhasDataken opened #170 "Date parsed as String with inferSchema =true"
I edited the file comments.csv (/src/test/resources/comments.csv) from my local clone of spark-csv and  deleted the time part of time-stamp fields such that we only have dates now as shown below:
~ Version 1.0
~ Using a non-standard comment char to test CSV parser defaults are overridden
1,2,3,4,5.01,2015-08-20
6,7,8,9,0,2015-08-21
~0,9,8,7,6,2015-08-22
1,2,3,4,5,2015-08-23

And got the following

[2015-10-20 21:56] kshekhram opened #171 "Spark-CSV should read the CSV based on column name provided in schema rather than depending on order of column"
Currently spark-csv seems to be depending on the order of columns in CSV file rather than name of columns provided in schema.  This is problematic for the cases where schema is dynamically generated and may not maintain the fixed order.
It would be nice to read columns based on name of column if header is specified in csv file.
This will work perfectly fine for most common use cases where schema i

[2015-10-21 00:38] falaki commented on #170
What version of spark-csv are you using?

[2015-10-21 01:05] suhasDataken commented on #170
I've built the jar from the latest from master.
On Oct 21, 2015 6:08 AM, "Hossein Falaki" <notifications@github.com> wrote:

[2015-10-21 14:17] msperlich commented on #155
I'm interested in this as well, in particular being able to save compressed csv output from Python. In Scala an implicit class adds the saveAsCsvFile method to DataFrames, which allows you to pass in a compression codec. Is there any way to call this method from Python?

[2015-10-22 07:11] HyukjinKwon commented on #171
Maybe you are talking about `sqlContext.read.option("header", "true").load("")`?

`header`: when set to true the first line of files will be used to name columns and will not be included in data. All types will be assumed string. Default value is false.

[2015-10-22 17:24] kshekhram commented on #171
Thanks HyukjinKwon for your reply.. We are using the "header" option that works fine as expected.
But what I am experiencing is , spark-csv doesn't use header to name columns and then read CSV data based on column name. It depends on order of columns in CSV to read data.

I think it would better if I can explain by following example
-----------------------------------------------------------------

[2015-10-22 17:32] falaki commented on #171
@kshekhram ```StructType``` in SparkSQL is inherently a sequential data structure (it extends ```Seq```).

[2015-10-22 19:35] kshekhram commented on #171
@falaki Thanks for your prompt response..I understand that StructType in spark SQL is sequential and we can control that sequence while providing schema to spark SQL. Also StructType is used within spark SQL and applicable of processing within spark. When we read/write data to/from external source, it shouldn't have any bearing on how external source store data. For example if data is stored in SQ

[2015-10-23 04:13] HyukjinKwon commented on #171
I see what you mean and I think this can be an issue in a way. Also, I tested and checked Parquet and it does not work identically. Maybe, this can be done comparing to given user-schema and the header only when both `header` is `true`, user-schema is given.I think this can be pretty easily done and might be useful.

However, somehow I feel like this is not preferable for me and unsafe to add some

[2015-10-23 18:40] zonca commented on #128
I still get the same error with `inferSchema = 'true'` in `pyspark`:

    java.lang.NoClassDefFoundError: org/apache/spark/sql/types/AtomicType

with spark 1.3.0 (Cloudera) and `com.databricks:spark-csv_2.10:1.2.0`

Is there a workaround? is an older version of spark-csv working with spark 1.3.0?

[2015-10-23 18:44] JoshRosen commented on #128
Hey @zonca,

The fix that I implemented in #138 is not present in `spark-csv` 1.2.0. There aren't any published releases which contain my patch, but you should be able to compile `spark-csv` yourself to produce a version which includes my fix.

[2015-10-23 18:50] zonca commented on #128
thanks @JoshRosen I would rather use an older version, however I tried down to `1.0.0` with the `--packages` option and I get the same error. Or is there a way to force the version in `sqlContext.load(source="com.databricks.spark.csv"...)`

[2015-10-23 20:31] jougNY commented on #59
I'm in a company environment and when I try to execute without success.
bin\spark-shell --packages com.databricks:spark-csv_2.11:1.2.0

I thin I have to specify somewhere the proxy but I have not idea where.

Any idea?

I got these errors:
Ivy Default Cache set to: C:\Users\jcoppey\.ivy2\cache
The jars for the packages stored in: C:\Users\jcoppey\.ivy2\jars
:: loading settings :: url = jar:file:/C

[2015-10-26 00:36] eruure commented on #155
I also am interested - when transferring data over S3 compression can save quite some bandwidth (and storage cost).
I saw that spark-csv actually supports this internally in the `saveAsCsvFile`, but I didn't find a way to use it when using the proper `save` interface.
Wouldn't it be enough to add an option specifying the codec to the parameters?

[2015-10-26 03:09] msperlich commented on #155
I've got a pull request open for exactly that: https://github.com/databricks/spark-csv/pull/174

[2015-10-26 23:59] zonca commented on #128
@JoshRosen do you have any plan to release a new version of `spark-csv` anytime soon? I managed to build my own jar, but for teaching I would prefer to have a released version to make it easier on the students.

[2015-10-27 00:48] JoshRosen commented on #128
Hi @zonca,

I think that @falaki is the right person to ask about publishing a new release, since he manages that process for this library.

[2015-10-27 10:15] falaki commented on #128
@zonca yes we will publish a new release soon.

[2015-10-27 16:02] vladap opened #175 "It doesn't properly load csv which has EOLs in text column"
Hadoop TextInputFormat breaks csv format in this case and reads lines terminated on each EOL instead of escaping EOLs between quotes.

It probably requires custom CsvInputFormat which would be aware of this and provide properly split lines to csv parser.

[2015-10-27 20:11] honzasterba commented on #86
It woudl be awesome if loading nulls was possible, either by forcing empty strings to be quoted or being able to denote a special value (e.g. null or NA) to represent nulls in the csv

[2015-10-28 00:56] schnee opened #176 "Saving creates "part-NNNN" files"
Dataframe with thirty rows and two columns. Spark 1.5.1. Spark-shell.

[code]
creates a directory called "features.csv". How to get the text file?

[2015-10-28 07:53] ImNotMyself opened #177 "Unexpectedly Type Promoted in InferSchema"
In a large CSV file, the InferSchema will promote the type of *sparse* columns to StringType unexpectedly.
The more sparse the column and the more larger the CSV file it is, the more possible the column will be promoted to StringType, even it is of Int or Long or Double.
## Root Cause
[code]
In InferSchema.scala, tokenRdd is applied to inferRowType and then combined by mergeRowTypes.
If a column i

[2015-10-28 08:15] ImNotMyself commented on #170
In InferSchema.scala, it is only trying to parse Timestamp but no Date type.
To support parsing Date, you may need to modify the InferSchema.
Below is my solution:
[code]

@falaki will such Date parsing be implemented to InferSchema officially ? any plan ?

[2015-10-28 10:18] falaki commented on #177
Thanks @ImNotMyself for filing this. Would you like to submit your change as a pull request with a test?

[2015-10-28 10:19] falaki commented on #170
being able to support arbitrary date and time formats, possibly through an optional parameter was planned. I was hoping the community will submit patches for those improvements :-)

[2015-10-28 13:16] schnee commented on #176
http://stackoverflow.com/questions/31674530/write-single-csv-file-using-spark-csv

This "issue" is closable.

[2015-10-28 13:16] #176 closed

[2015-10-28 16:57] lababidi opened #178 "using spark-csv via SparkConf?"
is there a way to include the `spark-csv` package by including it through `SparkConf` instead of `bin/spark-submit`?
Something like:
[code]

[2015-10-29 04:45] eruure opened #179 "Unable to distinguish between a null and a "null" string when writing CSV"
When saving a CSV from a DataFrame, if it contains a string column with a "null" string, it is serialized as `null`.
A null value, is also serialized just as `null`.

Would be great if there was a way to distinguish that, for example by enforcing quotes to be used for all exported strings, not only when they are needed.

[2015-10-29 05:47] falaki commented on #179
We will soon publish a new release that includes this patch: https://github.com/databricks/spark-csv/commit/60886852e0d526fb7a715b5e018504d57f5c307a

With that patch null parsing behavior has improved.

[2015-10-29 16:06] eruure commented on #179
Not sure it will help.
What's needed for it might actually be hidden in org.apache.commons.csv.CSVFormat.
If spark-csv exposed quoteMode options of that format, I believe we would be fine.

[2015-10-30 04:03] zonca commented on #128
thanks @falaki , that is great news, I need for teaching to have it available by November 3rd, would it be feasible?

[2015-10-30 11:55] HyukjinKwon commented on #166
I will close this isuue since this issue is resolved.

[2015-10-30 11:55] #166 closed

[2015-11-01 21:59] conker84 commented on #83
I have the same issue...

[2015-11-03 09:30] falaki commented on #128
Unfortunately, I cannot publish it in that time frame. I will publish a release in fourth week of November.

[2015-11-05 01:12] jaxxie commented on #59
@jougNY This error message is likely that your company environment does not have internet connection or the proxy is blocking maven.org. In this case, you can download the 2 jar files first
1. http://mvnrepository.com/artifact/com.databricks/spark-csv_2.10   -  The spark csv jar
2. http://mvnrepository.com/artifact/org.apache.commons/commons-csv/1.2   -  The common csv jar dependecy

Save the 2 ja

[2015-11-05 12:45] guotong1988 opened #182 "Anybody know how to solve this question? Thank you! Sorry for asking question here."
http://stackoverflow.com/questions/33544385/how-to-change-binary-file-into-rdd-or-dataframe

I will delete this question later.

[2015-11-06 01:51] pbhati5 commented on #83
Is this issue resolved?

[2015-11-06 02:19] tristanreid commented on #156
If you're using the `--packages com.databricks:spark-csv_2.10:1.2.0` option with the `spark-submit` command, note that it has to go in the specific order:

    spark-submit --packages com.databricks:spark-csv_2.10:1.2.0 your_script.py

If you put it at the end it won't get picked up.

[2015-11-06 13:20] sherman94062 commented on #83
Yes, this has been resolved, your attention to this was much appreciated!

-Mike

[2015-11-06 17:29] pbhati5 commented on #83
Hi Sherman,

I am using zeppelin on EMR cluster and trying with adding the dependency as %def as shown above but I am still running into ClassNotFound exception. Please let me know what I am missing, it will be really great if you can throw some insights on how it worked for you. Thanks a lot in advance.

[2015-11-06 18:11] jasonfreier commented on #83
For zeppelin, make sure you do the following before you run anything else, otherwise you need to either unbind the interpreter, or restart zeppelin:

If you're attempting to do this on Amazon's emr-4.1.0 with their 0.6.0 snapshot of Zeppelin, do not use the %dep as it will error (at least that's what I've been seeing the last few days):

z.load("com.databricks:spark-csv_2.10:1.0.3")

If you get er

[2015-11-09 12:45] shashwat7 opened #184 "CSV load doesn't work with custom schema having fields with data type other than String"
Hi,

I tried reading a CSV file, with a custom schema.

val ticket:StructType = StructType( Array(
    StructField("tkt_id", LongType, false),
    StructField("tkt_number", StringType, true),
    StructField("tkt_date_of_issue", DateType, true),
    StructField("tkt_pax_type", StringType, true),
    StructField("tkt_off_id", StringType, true),
    StructField("tkt_total_amount", DoubleType, true))

[2015-11-09 23:09] rkkolla commented on #86
I am not able to apply fillna on my dataframe. We are using spark 1.3.1. Is there any why we can replace all null values to blank for all columns ?

[2015-11-10 15:25] stephanecollot commented on #128
Could someone share his jar in the meantime?

[2015-11-10 22:13] rkkolla opened #187 "How to remove double quotes about space as value in column?"
Hi,

When I am using spark-csv API for sorting csv file, double quotes are showing where ever I have space in my columns. How to remove double quotes from my columns?

If we have blank(not having space) columns, they are returning without. We have issue with space as value in data. Unfortunately, we can't remove that space. I need that space for other process.

Here is code :
sqlContext = SQLConte

[2015-11-12 15:22] eedduuar commented on #128
Hi, I use ""com.databricks" % "spark-csv_2.10" % "1.0.0"" with 1.3.0  and it worked

[2015-11-12 17:20] piccolbo commented on #184
I may have something similar going on. Interfacing R with SQL in my case. If I let the schema inference do its thing I get the wrong schema

[code]

If I specify the schema in create table (you can imagine several of those character cols should be integer)  I get this stack trace

[code]

This seems to point to a problem with parsing NAs. When I tried by binary search to find which was the first o

[2015-11-13 02:13] pjfanning opened #188 "support for transforming dataframe to RDD[String]"
Thanks for all the hard work on spark-csv. It is a very useful library, as CSV is a really nice format to get up and running with Spark dataframes.
https://github.com/databricks/spark-csv/commit/2eb90153a2d6a77b9cde4aee3f6e382df3da1746 adds a csvRdd function to create a Dataframe from RDD[String]. It would be useful for me to be able to the reverse.
https://github.com/databricks/spark-csv/blob/mas

[2015-11-13 04:16] pjfanning commented on #188
I have a sample commit at https://github.com/pjfanning/spark-csv/commit/376568acb7f975fe69c26ae790c6792b0d4d002c - I can add more tests if this change is going down the right track

[2015-11-13 09:06] pjfanning commented on #178
I use SparkConf setJars(Array[String]) - the inputs in the array are filenames.
I use the function below to find jars that are part of my classpath to get the file path for them, eg new JarLookup().findJar("spark-csv").
[code]

[2015-11-13 11:25] pjfanning commented on #175
There are custom hadoop CSV input formats already, eg https://github.com/mvallebr/CSVInputFormat.
https://github.com/huhlig/hadoop-csv appears to have both an input format and an output format.
The bigger issue is writing and testing the spark-csv enhancements that would be needed to incorporate this code. Line breaks within CSV records are allowed but they are probably fairly uncommon.

[2015-11-15 11:48] vladap commented on #175
Thank you. It is a great information. Unfortunately line breaks are pretty common in our domain - Messaging - and our servers doesn't sanitize them, f.e. bu converting them to something else, when saving to csv. And it would be hard for us to for this change anyway because CSV RFC doesn't disallow them so we have to deal with it.

[2015-11-15 19:12] kindlychung opened #189 "String based options not convenient"
I am wondering why the options for the csv reader are all string-based. I find myself writing a wrapper like this:

[code]

[2015-11-16 13:12] FRosner commented on #59
I have the same proxy error. The proxy is configured and wget works fine on the URL (so it is not blocked). The documentation of spark-packages should contain a way to tell it the proxy. Any ideas?

[2015-11-16 17:16] radek1st commented on #152
I also noticed this. My workaround is to call "fill" method when reading the DataFrame:
`sqlContext.read.format(csv).options(csvOptions).load(file).na.fill("")`

[2015-11-16 22:54] radek1st opened #190 "question: What is the scheduled date for another release?"
We need some of the features present in master, but we would prefer not to host our own build

[2015-11-17 09:24] pierre-borckmans commented on #164
@falaki Thanks for your answer. Do you guys have an idea of when you will release this?

[2015-11-18 11:08] adamosloizou commented on #175
I just came across a similar problem whereby I would use `spark-csv` to export some SQL DB data to CSV files and then use `spark-csv` again to read them for another pipeline.
The CSV generation is valid, i.e. text with new lines is appropriately enclosed in double quotes.
However, when reading the CSV that the same library generated, it would fail to recognise that the new line is within a quoted

[2015-11-19 13:26] amitdubey766 commented on #84
@likelab have you found the soluation,i am facing same issue..plz help me

[2015-11-20 20:59] falaki commented on #190
I just releases 1.3.0

[2015-11-20 20:59] #190 closed

[2015-11-20 21:03] falaki commented on #184
@shashwat7 use FAIL_FAST parsing mode with your schema and see what record causes the failure. I suspect there are values in your data that cannot be parsed. You may need to preform some cleaning.

[2015-11-20 21:24] falaki commented on #164
I just released 1.3.0

[2015-11-20 21:24] #164 closed

[2015-11-20 21:28] falaki commented on #128
version 1.3.0 was just published.

[2015-11-20 21:31] falaki commented on #152
Would you please try again with the latest version?

[2015-11-20 21:40] falaki commented on #188
Thanks for your suggestion. I just published version 1.3.0.

[2015-11-20 22:06] piccolbo commented on #184
FAILFAST did not provide additional information, but it was a problem with NAs. Once filtered out in advance, problem disappears.

[2015-11-24 02:38] weichen1984 opened #192 "null value still not correctly parsed"
In my CSV file, I have a column of float numbers, but when it's a missing value, it is filled with the string "null" without the quotes. I read somewhere in the Issues in the repo that the new spark csv 1.3.0 would address this problem. However I am still getting the error of
[code]
The code I use is as follows:
[code]

Thank you

[2015-11-24 02:46] falaki commented on #192
You need to set the ```treatEmptyValuesAsNulls ``` option:
[code]

[2015-11-24 03:17] weichen1984 commented on #192
Thank you falaki for replying. I tried the method you provided but it still didn't work.
The file I am using is like this:
[code]

I am still getting this error:
[code]

[2015-11-24 04:57] falaki commented on #192
Would you verify if you are using version 1.3.0?

[2015-11-24 05:19] weichen1984 commented on #192
This is how I start pyspark shell:

[code]

[2015-11-24 05:36] JoshRosen commented on #192
Proposal: how about writing a failing test and submitting a PR to see if the failure can be reproduced in Travis? That's probably the easiest way to move forward in terms of debugging and developing a fix if necessary.

[2015-11-24 13:44] gupinot commented on #175
That helps me a lot adamosloizou. Thanks you !

[2015-11-24 13:48] adamosloizou commented on #175
@gupinot unfortunately, you might still run into the same issue I'm afraid :cry:.

After a while, I realised that even though the univocity parser supports multiline just fine, the underlying `context.textFile(...)` will still result in sending parts of the file to different partitions.

What we ended up doing is manually replacing new lines with `[placeholder]`s upon our CSV generation so we can

[2015-11-24 14:23] maver1ck opened #193 "Compression codec doesn't work in Spark 1.6.0"
Hi,
I'm trying to save csv using gzip codec.
[code]
Unfortunatelly this option doesn't work in Spark 1.6.0.
Is it connected with spark-csv or Spark in general ?

[2015-11-24 14:34] maver1ck commented on #193
OK.
This option has 4 days, and my compiled library is olded.

[2015-11-24 14:34] #193 closed

[2015-11-24 16:35] weichen1984 commented on #192
Hi @JoshRosen how do I do that? what do I include in the PR?

[2015-11-25 15:24] vladap commented on #175
I have just return back and wanted to ask you how you passed the TextInputFormat which is the main problem in our case. Unfortunately [placeholder] isn't a good option for us because it requires to another process pass and through some other cluster tech which doesn't use TextInputFormat.  We can't do the replacement on sources.

[2015-11-26 19:19] joshlemer commented on #142
+1

[2015-11-30 19:59] JoshRosen commented on #192
Hi @weichen1984,

Take a look at `AbstractCsvSuite` for examples of how to add tests to this library. In your case, I'd do the following:

- Create a new example CSV file in `src/test/resources` and name it after your test case.
- Add the filename to https://github.com/databricks/spark-csv/blob/84858ce5e78c024aa1682dcac82618e24a616f5e/src/test/scala/com/databricks/spark/csv/CsvSuite.scala#L41
- Ad

[2015-12-01 02:52] HyukjinKwon opened #194 "A little nit for the suite name at CsvSuite."
I would not open a PR for this; however, I just found this and will note.

At line 51 in `CsvSuite.scala`,

[code]

I found `AvroSuite` which should be `CsvSuite`.

[2015-12-01 05:35] falaki commented on #194
Thanks for pointing it out.

[2015-12-01 12:25] avl055 opened #195 ""\r" character not escaped on csv write"
it seems the character is not escaped properly, and from 100 line dataframe I'm getting 150 line CSV file!

[2015-12-01 13:02] avl055 commented on #195
just realised that "\n" is actually allowed by the CSV standard - so this is not an issue, but a feature request

[2015-12-01 17:19] fabboe commented on #48
This is working now (given the format of the String is somehow reasonable for a TimestampType).

[2015-12-01 17:40] fabboe opened #196 "Drop elements with malformatted Strings for TimestampType in DROPMALFORMED"
Hello,
I'm wondering whether a String that is not castable to TimestampType, should be caught and dropped in DROPMALFORMED mode, or raise this exception?

It works nicely on the non-corrupt elements, but then fails when rows with wrong schema appear.
[code]

[code]

Maybe catch this exception [here](https://github.com/databricks/spark-csv/blob/master/src/main/scala/com/databricks/spark/csv/CsvRela

[2015-12-02 03:09] zjffdu opened #197 "Make CsvRelation to extend HadoopFsRelation"
CsvRelation could extend HadoopFsRelation to leverage the features in HadoopFsRelation. I am working on SPARK-11691 to allow HadoopFsRelation to support compression which CsvRelation requires. After SPARK-11691 is done, I will do this ticket.

[2015-12-03 11:36] whbzju opened #199 "left join dataframe from hive with Exception in thread "main" java.lang.AssertionError: assertion failed: No plan for MetastoreRelation default, xxxx, None"
My code:
[code]
it failed. But when I change the order of two dataframes, like this:
[code]
it works.
So maybe it is a bug?

[2015-12-03 12:09] HyukjinKwon commented on #197
Is this a duplicate (or subset) of #123 ?

[2015-12-03 12:11] HyukjinKwon commented on #112
I think it has a pretty lot of examples now..

[2015-12-03 12:19] HyukjinKwon commented on #182
How about asking to Spark user mailing list and removing this?

I believe you can get a good answer rather than here.

[2015-12-03 12:23] zjffdu commented on #197
Yes, after CsvRelatioin extends HadoopFsRelation, partition will be supported

[2015-12-03 12:43] asimjalis opened #200 "Infer Schema Should Have Option To Cache"
Problem: Frequently I use this to parse csv files from AWS S3. I want to cache these RDDs so I don’t have to keep hitting S3. When I enable `inferSchema` this adds a pass to the data. There is currently no way to make spark-csv cache the data when it does its pass for `inferSchema.

Suggested Fix: Add another option to spark-csv that allows the user to specify whether to cache the RDD on `inferSch

[2015-12-04 18:25] tristanreid commented on #136
The README does list available options with their defaults, and also shows an example of using multiple options - seems clear.

[2015-12-07 15:00] m0nhawk commented on #156
And how to fix this without `--package` option in Maven?

[2015-12-08 03:07] falaki commented on #199
This seems like a sparkSQL issue. Would you please post it on the spark mailing list or file a Spark JIRA with more details on your Spark version and dump of the exception?

[2015-12-08 03:08] falaki commented on #112
Actually, the recommended way of using Spark-CSV is using neither of those two. Instead we recommend you use sqlContext.read and sqlContext.write API that are supported uniformly in all Spark languages (Scala, Java, Python, and R).

[2015-12-08 03:11] falaki commented on #200
Why wouldn't caching the DataFrame after reading it (with inferSchema) solve your problem? After you cache the DataFrame that is returned by spark-csv, all access to data will be answered from the cache and spark-csv does not get involved.

[2015-12-08 05:48] HyukjinKwon commented on #122
@rkpandey Have you made a PR for this?

[2015-12-08 19:40] kshook-pyaa opened #201 "Support for disabling CSV escape"
Very similar to #89 and  #165.

I have a CSV without quotes or escaped characters. To get around this I am using rarely used characters (ex ¥ ¢). It would be nice if the 'escape' character was nullable.

[2015-12-09 10:48] cdelgadob commented on #170
@falaki : I think an optional parameter is the right way. One question: Should we assume that all the Date fields share the same format, or should we allow to define more than one?
I personally think all Date fields with the same format, otherwise it gets messy and possibly slower. What do you think?

[2015-12-09 18:58] falaki commented on #170
Yes, I agree. For now we can assume all date fields follow the same format.

[2015-12-10 06:44] azuryyu opened #203 "Exception when there are special characters in CSV header"
We definitely hit the exception if there are special characters in CSV header. such as:

header1, header2+test

It's always failed if transform it to ORC, Parquet etc after load CSV.

so two options here:
1) encode the special characters in the header
2) just failed to the user to fix the data

[2015-12-10 06:47] HyukjinKwon commented on #189
Maybe this depends on personality... For me I feel okay with string ones :)

[2015-12-10 06:48] HyukjinKwon commented on #158
+1

[2015-12-10 15:43] VincentLous opened #204 "SparkR: object customSchema not found when "manually" loading jars"
I think this is a bug on your end, but I am not 100% sure, because I am fairly new to spark.

I (try to) run SparkR on an enterprise server. I cannot access packages directly from that website, perhaps because of a firewall. In order to use the spark-csv package download this [jar](http://mvnrepository.com/artifact/com.databricks/spark-csv_2.10/1.3.0) and this [jar](http://mvnrepository.com/artifa

[2015-12-10 21:03] falaki commented on #204
Did you create a customSchema object as suggested by the documentation:
``R
customSchema <- structType(
    structField("year", "integer"),
    structField("make", "string"),
    structField("model", "string"),
    structField("comment", "string"),
    structField("blank", "string"))
[code]

[2015-12-10 21:57] VincentLous commented on #204
Thank you for your response. The documentation in the ReadMe says that is not necessary. My data set is too large to manually add columns and types.
[code]

[2015-12-10 22:03] falaki commented on #204
In that case, do not specify schema.

[2015-12-10 22:10] VincentLous commented on #204
Thank you. I think that needs to be updated in the ReadMe.

Also, after doing that. I get the below error. Does that have to do with spark-csv?

Error in writeJobj(con, object) : invalid jobj 1
trace:
stop("invalid jobj ", value$id)
writeJobj(con, object)
writeObject(con, a)
writeArgs(rc, args)
invokeJava(isStatic = TRUE, className, methodName, ...)
callJStatic("org.apache.spark.sql.api.r.SQLUtils

[2015-12-10 22:22] #204 closed

[2015-12-11 00:10] #194 closed

[2015-12-11 21:05] kamakay opened #206 "Error java.lang.String cannot be cast to org.apache.spark.unsafe.types.UTF8String"
Dear all I am trying on a windows machine to perform some basical csv manipulation using spark-shell. When accessinf rdd i receive this error for each line of the source csv.

 java.lang.String cannot be cast to org.apache.spark.unsafe.types.UTF8String

the command is

val df = sqlContext.read.format("com.databricks.spark.csv").option("inferSchema", "true").option("delimiter",",").option("header",

[2015-12-11 21:20] falaki commented on #206
Please try specifying encoding. Please try both UTF-8 and UTF-16.

[2015-12-12 17:41] kamakay commented on #206
Hi,

I tried with both UTF-8 and UTF-16, modyfing also line separator (from windows to linux and viceversa).

I still receive the error

[2015-12-12 18:37] marmbrus commented on #206
This doesn't look like an encoding error to me.  Can you provide the stack
trace?  My guess is the version of spark-csv is incompatible with the
version of spark.
On Dec 12, 2015 9:41 AM, "kamakay" <notifications@github.com> wrote:

[2015-12-12 18:44] kamakay commented on #206
I am using spark 1.5.1 on scala 2.10.4

I launch the shell with this parameter

spark-shell --packages com.databricks:spark-csv_2.10:1.0.3

Voila my stack trace

15/12/12 19:41:18 ERROR CsvRelation$: Exception while parsing line: "Irene","Lup",45,"Italy".
java.lang.ClassCastException: java.lang.String cannot be cast to org.apache.spark.unsafe.types.UTF8String
        at org.apache.spark.sql.cataly

[2015-12-12 20:49] kamakay commented on #206
Solved by myself
used spark-shell --packages com.databricks:spark-csv_2.10:1.0.3
instead of
spark-shell --packages com.databricks:spark-csv_2.10:1.3.0

[2015-12-12 20:49] #206 closed

[2015-12-15 12:14] pawanparimi commented on #58
Hi,
I am facing the same  <Caused by: java.lang.ClassNotFoundException: org.apache.commons.csv.CSVFormat>.

I am using the Spark SQL thrift server, query fails with the above exception on any table (only with csv data). I am supplying both the jars 1) commons-csv-1.2.jar and 2) spark-csv_2.10-1.3.0.jar from spark-env.sh SPARK_CLASSPATH variable.

I have observer this behavior only when i run this

[2015-12-15 13:18] mkanchwala commented on #98
Any updates on the same?

[2015-12-17 22:55] ccann commented on #192
I have this same issue except with `FloatType()` and spark 1.5.2

[2015-12-18 06:14] HyukjinKwon opened #207 "Support for inferring BooleanType."
It looks [`InferSchema`](https://github.com/databricks/spark-csv/blob/master/src/main/scala/com/databricks/spark/csv/util/InferSchema.scala#L74-L82) does not infers `BooleanType`.

This would be great if this library supports this.

[2015-12-18 06:42] HyukjinKwon opened #208 "Description for writing options in documentation."
It looks writing supports options [`delimiter`](https://github.com/databricks/spark-csv/blob/master/src/main/scala/com/databricks/spark/csv/package.scala#L109), [`escape`](https://github.com/databricks/spark-csv/blob/master/src/main/scala/com/databricks/spark/csv/package.scala#L116), [`quote`](https://github.com/databricks/spark-csv/blob/master/src/main/scala/com/databricks/spark/csv/package.scala

[2015-12-18 07:15] HyukjinKwon opened #209 "Typo at README.md"
https://github.com/databricks/spark-csv/commit/cacd8c490d1e656bf9f5cd520bcec0354b3750fd#comments

I added a comment here.

optins should be options. :)

[2015-12-18 09:06] rxin commented on #209
Want to submit a pr?

[2015-12-18 09:13] HyukjinKwon commented on #209
Well, sure.

[2015-12-18 14:56] jarekszymczak commented on #192
I also have a problem with `DoubleType()`, Spark 1.4.1 called from Python, as per example from #164:

[code]

and alternate version:
[code]

Code yields an error:
 java.text.ParseException: Unparseable number: "null"

The csv file was created with use of this very same library with success. Lib is included via packages:
[code]

[2015-12-18 15:25] amjadshabani commented on #83
I had just to add 2 properties to the spark interpreter:
spark.driver.extraClassPath	/PATH/TO/commons-csv-1.2.jar,/PATH?TO/spark-csv_2.10-1.0.0.jar
spark.executor.extraClassPath	/PATH/TO/commons-csv-1.2.jar,/PATH?TO/spark-csv_2.10-1.0.0.jar

And it worked well for me

[2015-12-19 03:00] HyukjinKwon commented on #209
Fixed in https://github.com/databricks/spark-csv/pull/210

[2015-12-19 03:00] #209 closed

[2015-12-19 11:04] aremirata opened #211 "Loading file using spark-csv through spark context pointing to the Hadoop cluster"
I have a file found in my local machine. In order for me to process this efficiently, I need to use the hadoop cluster. I can point my spark context to the hadoop cluster. However, upon loading the data using spark-csv, it doesn't work. I have to point my spark context to local machine in order for me to load my data stored locally. However, this causes me a lot of memory error that I cannot run m

[2015-12-20 01:18] sadikovi opened #212 "Option to add filename / path as a column when loading multiple csv files"
I am not sure if such option exists, could not find one to include filename or file path as a column, e.g. `_filename` when loading multiple csv files. Would appreciate, if someone could point out, if such feature exists, otherwise very happy to add it, but need some directions on what to start with.

For instance:
[code]

When loading those files to have something like this:
[code]

[2015-12-20 04:42] falaki commented on #212
Unfortunately, we don't have such feature/option in spark-csv.

[2015-12-20 04:44] brkyvz commented on #212
Can you load the files one by one, add a column for the filename as you do, and finally union all of them back?

[2015-12-20 05:02] sadikovi commented on #212
Potentially, yes. I was thinking if it would be a useful feature to add

[2015-12-22 21:46] nealmcb commented on #184
I ran into a similar or identical problem, trying to parse the line

    63869,Apollo_asteroids,089959n(89959) 2002 NT7,2015-03-17 21:39:21,089959,uppercase,page

via this schema:

    customSchema = StructType([
      StructField("cl_from", LongType(), True),
      StructField("cl_to", StringType(), True),
      StructField("cl_sortkey", StringType(), True),
      StructField("cl_timestamp", Time

[2015-12-22 21:53] falaki commented on #184
@nealmcb I suspect that line in your file has extra delimiter characters.

[2015-12-22 21:59] nealmcb commented on #184
@falaki It is a strange-looking line (wikipedia category information for asteroid https://en.wikipedia.org/wiki/(89959)_2002_NT7), but the commas split it up appropriately.  The third column, "cl_sortkey" is indeed supposed to be '089959n(89959) 2002 NT7''

[2015-12-23 04:55] HyukjinKwon commented on #212
For me I think that might be a narrow use case although this can be useful for some..

[2015-12-23 05:56] sadikovi commented on #212
@HyukjinKwon I agree. Anyway, it does not seem to be a very "must-have" option. Workaround with looping through and adding filename works well. Thanks for help, guys, I will close the issue.

[2015-12-23 05:56] #212 closed

[2015-12-23 10:26] mkanchwala commented on #123
I am also looking forward for this one! Would really like a feature to be added for

``` partitionBy(columns)```

Thanks

[2015-12-23 11:44] tanwanirahul opened #216 "Incorrect type inference"
Assume the following dataset:

A,B,C,D
1,,,
,1,,
,,1,
,,,1

All the columns ideally should be inferred as Integer/Boolean types. But when we use the spark-csv, here is what we get:

root
 |-- A: integer (nullable = true)
 |-- B: integer (nullable = true)
 |-- C: string (nullable = true)
 |-- D: string (nullable = true)

Columns C & D are inferred as String type. Is this really the expected behavio

[2015-12-23 18:06] agvinay opened #217 "Custom Schema in Java"
How to provide custom schema in Java? Examples doesn't properly show how to do this.

[2015-12-23 18:53] falaki commented on #216
I see space before and after third delimiter. That could be the reason.

[2015-12-23 18:54] falaki commented on #217
There is a section for this in the README file:
[code]

[2015-12-24 01:50] HyukjinKwon opened #218 "Unnecessarily castng all values in columns when count is performed."
When we perform count on `DataFrame`, this produces the plan below.

[code]

But thing is, it performs `TableScan` when `requiredColumns` is empty [CsvRelation.scala#L150](https://github.com/databricks/spark-csv/blob/master/src/main/scala/com/databricks/spark/csv/CsvRelation.scala#L150), resulting reading and casting all values in the columns. (The performance test proceeded before in the PR https

[2015-12-24 05:10] tanwanirahul commented on #216
If you parse the same csv with SparkContext's textFile, you would get the length of the first records as 7, whilst the rest of them have the length of 4. This indicates there isn't any white space?

[2015-12-24 08:10] tanwanirahul commented on #216
Here is another dataset example:

A,B,C,D
1,,1,

and the inferred schema:
root
 |-- A: string (nullable = true)
 |-- B: string (nullable = true)
 |-- C: string (nullable = true)
 |-- D: string (nullable = true)

A & C should be Integers here.

[2015-12-24 19:01] yhuai commented on #218
@HyukjinKwon CSV will read all data anyway. So, you meant creating rows containing all column values instead of creating empty rows, right?

[2015-12-24 23:02] HyukjinKwon commented on #218
@yhuai It will read all data but does not have to check all the values in rows and convert (cast) them by pruning scan #169 (merged in CSV).

I think I should change "read" to one such as convert or cast.

And actually I meant empty rows... although I haven't tested yet, doesn't JSON datasource also produce rows in this way?

[2015-12-28 01:28] HyukjinKwon opened #219 "Non-consistent result when DROPMALFORMED is enabled and pruned scan is executed."
DROPMALFORMED parsing mode checks all the data and it only drops only when it fails.

So, in case of `PrunedScan`, this can end up with different results.

For example, the test below produces the correct results.
[code]

[code]
Output :
[code]

This is because it drops two rows here
[code]

However, when it turns to `PrunedScan`, this does produces inconsistent results as it does not try to parse

[2015-12-28 18:41] yhuai commented on #218
@HyukjinKwon Yeah, JSON will produce empty rows if no column is needed.

[2015-12-28 21:23] AEDWIP opened #222 "write() causes a large number of empty files to be create"
Very useful package. It is saved me a lot of time. I am running into a small problem

I have a java app that loads a data set, runs it through a ML piple line, trains a model, make predictions. Finally the predictions are joined back to the original data set. When I save the data I noticed that there are thousands of files created that contain a header row without any data rows.  Having lots of un

[2015-12-28 21:29] falaki commented on #222
You can control the number of files that are generated by repartitioning your DataFrame before saving it. For example if you wish to get a single file you can:
[code]

[2015-12-28 23:04] AEDWIP commented on #222
Hi Hossein

I use coalesce() which is supposed to be an optimized version of repartion.
(The java doc does not really say anything about either of these two
functions. When I tried using reparation() it worked.

Any idea what the difference is?

Thanks for taking a look

Andy

From:  Hossein Falaki <notifications@github.com>
Reply-To:  databricks/spark-csv
<reply+00725a2f5c6e4d0aca1873f70eba515cb6

[2015-12-28 23:25] falaki commented on #222
I think `coalesce` should work too and yes it is supposed to be smarter than `repartition`. Have you tested it and got more than one file?

[2015-12-29 00:11] HyukjinKwon commented on #218
Fixed in https://github.com/databricks/spark-csv/pull/220

[2015-12-29 00:11] #218 closed

[2015-12-29 00:11] HyukjinKwon commented on #219
Fixed in https://github.com/databricks/spark-csv/pull/220

[2015-12-29 00:11] #219 closed

[2015-12-29 05:57] tanwanirahul commented on #216
@falaki Could you please check on the use cases shared above and confirm if there is something that needs fix? If there is an issue, I feel it must be resolved ASAP because its very fundamental.

[2015-12-29 07:06] addisonj commented on #192
Taking a look at the code... It looks like `nullValue` is only ever used when *saving* a CSV, never when parsing...

It seems like this should support mapping a given nullValue into nulls, for example, I am trying to process files from postgres pgdump where nulls are `\N` and I don't see of a clean way to use this for all its niceties (mapping types, etc) with different null values... will dig int

[2015-12-29 09:40] falaki commented on #216
Yes, this is a bug. We will hopefully publish a new release with a bug fix. You are more than welcome to submit a fix. The bug is in `InferSchema.scala`

[2015-12-29 13:31] aremirata opened #223 "Error upon loading file from hdfs"
I encountered this error upon reading a file located in hdfs. Do you guys have some idea why this is happening and how we can solve this?

Py4JJavaError: An error occurred while calling o41.load.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 1 in stage 2.0 failed 4 times, most recent failure: Lost task 1.3 in stage 2.0 (TID 11, 192.168.60.115): java.lang.ClassNotFoundEx

[2015-12-29 14:50] tanwanirahul commented on #216
Cool. Have plenty on my plate for the week. Will try to submit by early/mid next week.

[2015-12-29 17:15] AEDWIP commented on #216
Thanks Gentlemen.

Happy New Year

Andy

From:  Rahul <notifications@github.com>
Reply-To:  databricks/spark-csv
<reply+00725a2ffd7390630b0e8afd240275f4cee4ac4dfa2019c592cf00000001129a5fab9
2a169ce075eaca0@reply.github.com>
Date:  Tuesday, December 29, 2015 at 6:50 AM
To:  databricks/spark-csv <spark-csv@noreply.github.com>
Subject:  Re: [spark-csv] Incorrect type inference (#216)

[2015-12-29 17:20] AEDWIP commented on #222
Hi Hossein

Very strange if I replace coalesce with reparation (I am using spark 1.5.1)
I get one output file. I discovered this bug in a unit/integration test. In
our production system we do not want to take the over head of calling
count() to figure out how to reparation. We would prefer empty
RDD/partitions not generate output files.

Maybe this could be controlled using an option. It possible

[2015-12-29 19:28] falaki commented on #223
What version of Spark and spark-csv are you using? How are you loading spark-csv package?

[2015-12-29 21:17] AEDWIP commented on #223
Hi Hossein

I am using spark 1.5.2, java

       coalescedSubSetToSave.write()

            .format("com.databricks.spark.csv")

            .option("header", "true")

            .save(outputFile);

This is the version info from my gradle build file. (gradle is a replacement
for maven)

     compile     group: 'com.databricks',   name: 'spark-csv_2.10',
version: '1.3.0'

        testCompile group

[2015-12-29 21:31] falaki commented on #223
spark-csv depends on apache commons csv and univocity jar files. I suggest you load the package using spark-submit or spark-shell `--packages` flag as suggested in the README.

[2015-12-30 09:16] aremirata commented on #223
This is now solved by using the --packages option in starting the kernel. Thank you so much for your replies.

[2015-12-30 12:30] aremirata commented on #223
I reopen this issue since spark-csv is now working however, it does not infer the schema. All fields are treated as string. I use Spark-1.5 hadoop 2.6 and the latest version of spark-csv. I use IBM spark-kernel to process this: https://github.com/ibm-et/spark-kernel. What I did is that I add spark-csv as environment variable under Spark options:

{
"display_name": "Spark 1.5.1 (Scala 2.10.4)",
"la

[2015-12-30 13:05] #223 closed

[2015-12-30 22:04] sonya commented on #145
@dtpeacock, specifying "UTF-16" for the "charset" option doesn't work. I think this is a limitation of the underlying `TextFileInput` which assumes the line delimiter is UTF-8. For multibyte encodings the lines will be malformed by the time they are passed back to the [string conversion](https://github.com/pmackles/spark-csv/blob/e38e38053adad2afcdde5186ff1007626124f41a/src/main/scala/com/databric

[2016-01-05 10:46] tanwanirahul commented on #216
When I use the master branch, the schema inference is working as expected. May be the issue is already fixed. If you remember the pull request that fixed this, would be good to put it into comments.

For the dataset I shared as a test data:
A,B,C,D
1,,,
,1,,
,,1,
,,,1

I am correctly getting the schema as:
root
 |-- A: integer (nullable = true)
 |-- B: integer (nullable = true)
 |-- C: integer (nu

[2016-01-05 13:23] gsindholt opened #225 "AmazonClientException when trying to write to S3 (running AWS EMR 4.2)"
When I try to use spark-csv to store data on S3, I am consistently running into this exception:

    com.amazonaws.AmazonClientException: Unable to execute HTTP request: Read timed out
	    at com.amazonaws.http.AmazonHttpClient.executeHelper(AmazonHttpClient.java:516)
	    at com.amazonaws.http.AmazonHttpClient.execute(AmazonHttpClient.java:317)
	    at com.amazonaws.services.s3.AmazonS3Client.in

[2016-01-05 20:01] umeshkacha opened #226 "coalesce(1).saveAsTextfile() takes forever?"
hi I am trying to save many partitions of Dataframe into one CSV file and it take forever for large data sets of around 5-6 GB.

sourceFrame.coalesce(1).write().format("com.databricks.spark.csv").option("gzip").save("/path/hadoop")

For small data above code works well but for large data it hangs forever does not move on because of only one partitions has to shuffle data of GBs please help me

[2016-01-06 20:20] alunarbeach commented on #137
running into the same issue thru Jupyter.
@samuel-pt  what are the jars you have added to the classpath and how?

[2016-01-06 20:56] mrcamp opened #228 "Count of malformed rows being dropped"
It would be really useful to have a counter to reference the number of records dropped for being malformed, and maybe even a log of why it was dropped (bad field type, too many/few fields in a row etc).

[2016-01-07 14:19] rozhok commented on #137
@alunarbeach I had to rebuilt spark adding jets3s and hadoop 2.7.1 libs manually into pom.xml.
Here's some details: http://tech.grammarly.com/blog/posts/Petabyte-Scale-Text-Processing-with-Spark.html
You may download build from https://s3-eu-west-1.amazonaws.com/custom-spark/spark-1.6.0-bin-hadoop2.7.1.tar.gz

[2016-01-08 19:09] krvss commented on #192
Having the same problem with nullable LongType in Scala 2.10.4

Data to parse: 2015/12/31,1,social,108,24,0,0,3060,null

The last (problematic) field is declared as StructField("ii", LongType, nullable = true)

Spark 1.5.2, spark-csv: "spark-csv_2.10" version "1.2.0"

exception exceprt:

[code]

[2016-01-11 08:44] chrislaing commented on #59
I also have the same issue with a proxy (which is otherwise correctly configured). As @FRosner says, there must be a way to make spark-packages aware of the proxy. It would be great if we could get some documentation of this soon.

[2016-01-11 17:57] svivekbafna commented on #158
+1

[2016-01-11 23:29] HyukjinKwon commented on #158
I agree this can be done with a simple tranformation by users themselves though. I see some users want to just only use SparkSQL (HiveQL interface). I am not sure if we can do this only in SQL. If not, I think this might be worth implementing this feature.

[2016-01-11 23:39] HyukjinKwon commented on #216
Hm I think I can work on this maybe within the next week.

[2016-01-12 16:19] cherah30 commented on #86
I spent more than 2 hours as you tested the thing and the only solution I have found is:
my_dataframe.na.replace ('', 'unknown').

Note that I used spark 1.5.1 and syntax is that of PySpark.

[2016-01-12 22:09] etspaceman commented on #123
+1

[2016-01-12 22:30] etspaceman commented on #158
+1

[2016-01-12 22:50] etspaceman commented on #226
This isn't an issue with spark-csv. Running coalesce(1) puts all data onto 1 partition on 1 node, which means that 1 node will be performing all of this work. This is essentially going to produce the same speeds as if your driver was running the entire file in a FileStream object.

What you're looking for is FileUtil.copyMerge from the Hadoop API. This will merge hadoop files into a single file:

[2016-01-14 09:53] tvmanikandan opened #230 "java.lang.NumberFormatException: For input string"
Hello,
Thanks for providing this utility.

I get the below error in spark when loading gz file in hdfs. ( FYI, the same gz file loads in hive without any issues)

API Call is given below:
sqlContext.read.format("com.databricks.spark.csv").option("header", "false").option("delimiter",",").option("codec", "org.apache.hadoop.io.compress.GzipCodec").schema(<my schema>).load(<gz file path in hdfs>).sor

[2016-01-14 17:09] falaki commented on #230
Are you applying a schema? It seems it is trying to cast to a number which fails.

[2016-01-15 00:39] HyukjinKwon opened #231 "Encoding not working with non-ascii compatible encodings (UTF-16/32 etc.)"
It looks this library has the support for other encodings. However, this library uses Hadoop's [`TextInputFormat`](https://github.com/apache/hadoop/blob/master/hadoop-mapreduce-project/hadoop-mapreduce-client/hadoop-mapreduce-client-core/src/main/java/org/apache/hadoop/mapreduce/lib/input/TextInputFormat.java), which uses [`LineRecordReader`](https://github.com/apache/hadoop/blob/master/hadoop-map

[2016-01-15 20:08] zhiboz commented on #164
Is it possible to specify multiple nullvalues, like `'null'/'unk'/'unknown'`? Thanks!

[2016-01-19 22:25] napsternxg opened #233 "java.lang.NoClassDefFoundError: Could not initialize class com.databricks.spark.csv.util.InferSchema"
I am running R version 3.2.3 (2015-12-10) -- "Wooden Christmas-Tree"
with Spark installed from their source github repository.

I am getting an error when using the inferSchema = "true". A similar code runs correctly in

When I try to run the following command:
[code]

I am getting the following error:
[code]

If I use the option "InferSchem='true'", I get a different kind of error:

[code]

Howev

[2016-01-19 22:31] falaki commented on #233
What version of Spark are you using? This seems like a binary compatibility issue between spark-csv and spark Jars.

[2016-01-19 22:33] napsternxg commented on #233
I am using spark installed from source using the master branch.

[2016-01-19 22:42] falaki commented on #233
In master you don't need spark-csv. CSV data source is built into SparkSQL. Just use it as follows:
[code]

[2016-01-19 22:50] napsternxg commented on #233
Cool thanks. Works.

[2016-01-19 22:50] #233 closed

[2016-01-20 01:11] HyukjinKwon opened #234 "Support to specify a shorten name for compression codec"
This is similar with https://github.com/apache/spark/pull/10805. It would be great if we can choose codecs by shorten name.

[2016-01-20 02:19] umairsheikh commented on #142
So this issue is still there with Scala 2.11.7 and Spark-Core 1.5.2 , databricks 1.3.0.

[2016-01-20 10:17] DarkForte opened #236 "Why specifying schema to be DateType / TimestampType will make querying extremely slow?"
Some of my datasets have date columns. I make the schema as follows:

[code]

But when there are `DateType` columns, my query with Dataframes will be very slow. (The queries are just simple `groupby()`, `sum()` and so on)

With the same dataset, after I commented the two lines to map Date to DateType and DateTime to TimestampType, the queries become much faster.

What is the possible reason for th

[2016-01-20 20:10] learneddamo commented on #161
Facing same issue when using spark-csv over spark v1.4.1. Issue seems to be with the newly introduced DataFrameReader. Quick work around is to use the deprecated SQLContext loader.

Sample Work Around:
df = sqlContext.load(source="com.databricks.spark.csv", header = 'true', schema = customSchema, path = 'cars.csv')

[2016-01-22 01:06] tvmanikandan commented on #230
Falaki,
Yes, I do apply schema.

[2016-01-22 02:38] falaki commented on #230
It seems to me one of the rows has a malformed number. When this happens spark-csv prints the offending line along with the exception.

[2016-01-22 04:19] tvmanikandan commented on #230
Then how come it's working fine on hive? I am not clear. This particular
string is in json format and gzipped.
On Jan 22, 2016 8:08 AM, "Hossein Falaki" <notifications@github.com> wrote:

[2016-01-22 15:14] arkadiuszbicz opened #238 "Not possible to change column names"
version com.databricks:spark-csv_2.10:1.3.0, spark 1.6.0

DataFrame read by

[code]

Change column names by `df.toDF(newNames)`

Exception during  `show(1)`

[code]

[2016-01-23 06:46] falaki commented on #238
It seems to me you are passing fewer names than the columns in your DataFrame.

[2016-01-25 12:01] dkirrane opened #239 "NumberFormatException for a Column of type integer (nullable = true)"
I'm using an inferred schema. Any time I add a column that has type `integer (nullable = true)`
I get

[code]

[2016-01-25 19:43] falaki commented on #239
Can you verify if there is no space or other characters before or after the delimiter?

[2016-01-26 12:12] dkirrane commented on #239
Ya I found a couple of `n/a` in that column. It would be good if instead of the NFE to instead log a warning and print the invalid cells value.

[2016-01-26 13:44] ziakayani opened #240 "java.lang.NegativeArraySizeException"
I've noticed with we deal with the DataFrame and Apply some complex operations, then finally push that data to sink it throughs this Exception. If I move on slowly it works fine i.e. apply a transformation and show it or save it. But when we create a complex DAG of Job then finally execute that DAG this Exception occours.

Exception in thread "main" org.apache.spark.SparkException: Job aborted due

[2016-01-26 19:18] falaki commented on #239
That's what spark-csv does.

[2016-01-26 19:19] falaki commented on #240
Please provide additional details: versions of spark and spark-csv, sample of your data and you query.

[2016-01-28 07:26] ziakayani commented on #240
This is a complex example where I got this issue.

**Purchases.csv - 34G - 719,332,082 Records
Returns.csv - 469M - 10,131,593 Records
Users.csv - 319M - 500,000 Records**

    val customSchema = StructType(Array(
      StructField("TxnID", IntegerType, true),
      StructField("UserID", IntegerType, true),
      StructField("Timestamp", StringType, true),
      StructField("ItemID", IntegerType,

[2016-01-28 14:02] ziakayani commented on #240
Spark CSV is working fine, I've looked into it deeply, Its actually Spark Bug, tracked [here](https://issues.apache.org/jira/browse/SPARK-10538) When I persist the DataFrame after ingestion and then join both DataFrames, it works fine.

[2016-01-29 00:33] SrikanthTati opened #242 "Reading multiple folders"
Hello,

I'm trying to read multiple folders each containing several lzo compressed csv files.

    val datePath = "2016-01-22-"
    val fileList = (1 to 3).toList.map(pathPrefix+datePath+_+"/*.lzo")
    val DFLzo = sqlContext.read.format("com.databricks.spark.csv")
                      .options(Map("delimiter" -> "\t"))
                      .schema(RawLogsSchema.getSchema)

[2016-01-29 00:37] falaki commented on #242
You need to use a wild card path and let Spark take care of it.
[code]

[2016-01-29 00:49] SrikanthTati commented on #242
This was just an example I gave. My folder structure is ../YYY-MM-DD-HH/*.lzo
For a given run I have a few days and within each day I don't always process all hours.
Ex, process 2016-01-22-18 to 2016-01-27-06 in this job. So I can't say 2016-01-22-*
Start and end day-hour is an input to my program.

[2016-01-29 01:27] falaki commented on #242
In that case create multiple DataFrames and union them.

[2016-01-29 01:41] SrikanthTati commented on #242
That is what I have right now. I was trying to make it elegant.

When I make multiple calls to sqlContext.read.format().load() with smaller number of files and do a union, when an action is performed on the DF, I presume DAG will place all the calls in the same stage and use same no.of tasks to read the files as it would if I call sqlContext.read.format() once rt?

[2016-01-29 02:06] vontimitta opened #243 "Blob data column when loaded from Database and written to CSV file, outputs toString() value on the object, instead of converting the actual Binary to String value"
I have table in my Mysql Database that has a column of type BLOB

# Mysql Table with BLOB column
![mysql_workbench](https://cloud.githubusercontent.com/assets/2147848/12664970/ce121bbe-c5e8-11e5-81cc-ce3a8ec47a20.png)

Now, I am trying to read the data to a DataFrame and then write to a CSV file

`        DataFrame dataFrame = sqlContext.read().format("com.databricks.spark.csv").option("header", "

[2016-01-29 06:52] tanwanirahul commented on #216
I was hit by this error again. This time around, I have more information on the issue. This issue only occurs if we run it with more than one executors. I know where the issue is, and will try submitting the pull for this soon.

[2016-01-29 18:11] SrikanthTati commented on #242
My use case boils down to having partition by(dayHour) and then a filter(dayHour between X and Y)
My understanding was that this was not supported yet [issue 123](https://github.com/databricks/spark-csv/issues/123).
Today I noticed another old [issue](https://github.com/databricks/spark-csv/issues/50) that says partition by is available in spark-csv since 1.4 release.

Can you clarify if this is s

[2016-01-29 20:17] tanwanirahul commented on #216
Submitted PR for this:  https://github.com/databricks/spark-csv/pull/244

[2016-01-30 01:14] syepes opened #245 "Implement support for selectable InputFormats - Splittable reads (LZO)"
It would be great if we could have an option to configure the InputFormat, this would [vastly speed up](http://apache-spark-user-list.1001560.n3.nabble.com/Reading-lzo-index-with-spark-csv-Splittable-reads-tc26103.html) the reads times.

https://github.com/databricks/spark-csv/blob/master/src/main/scala/com/databricks/spark/csv/util/TextFile.scala#L34-L36
[code]

[2016-01-31 15:57] tvmanikandan commented on #230
This issue arises when I apply schema upfront ( ie, loading the data). After loading the data if I do type casting I am able to get the data properly.

Now my question is : If a particular column data is in json format how can I extract it? Is there any function/utility?

Please clarify.

-Mani

[2016-02-01 01:10] HyukjinKwon commented on #245
Hm.. sounds reasonable in a way though. For me, this might be to deal with some narrow use-cases.

How about using [csvRdd()](https://github.com/databricks/spark-csv/blob/master/src/main/scala/com/databricks/spark/csv/CsvParser.scala#L143-L162)?

I think you can do this like

[code]

[2016-02-01 05:16] HyukjinKwon commented on #231
In more details,

I tested this in Max OS. I converted `cars_iso-8859-1.csv` into `cars_utf-16.csv` as below:

[code]

and run the codes below:

[code]

This produces a wrong results below:
[code]

Instead of the correct results below:

[code]

[2016-02-01 08:30] drorata opened #247 "Use spark-csv inside Jupyter and using Python"
My ultimate goal is to use Jupyter together with Python for data analysis using Spark. The current hurdle I face is loading the external `spark_csv` library. I am using Mac OS and Anaconda as the Python distribution.

In particular, the following:

    from pyspark import SparkContext
    sc = SparkContext('local', 'pyspark')
    sqlContext = SQLContext(sc)
    df = sqlContext.read.format('com.dat

[2016-02-01 14:05] syepes commented on #245
@HyukjinKwon
Thanks for the info, I have tired this but I get the following mismatch ;-(

[code]
                                                     ^

[2016-02-01 22:24] HyukjinKwon commented on #245
Ah, it needs to be converted like [this](
https://github.com/databricks/spark-xml/blob/master/src/main/scala/com/databricks/spark/xml/util/XmlFile.scala#L43-45).

[2016-02-02 04:04] HyukjinKwon commented on #234
Fixed in https://github.com/databricks/spark-csv/pull/235.

[2016-02-02 04:04] #234 closed

[2016-02-02 08:33] syepes commented on #245
@HyukjinKwon Thanks for the pointer it now works like a charm!

[2016-02-03 09:32] toddleo opened #253 "Missing content when exporting to local file?"
Hi, I'm using the following code to export `df` into local files:

[code]

but the file written in such directory is not complete record as in `df`, which I can inspect with `df.show()`. Sometimes no file were written, leaving only a `_SUCCESS` file in that directory.

Any clue on the causation?

[2016-02-03 18:19] SrikanthTati opened #255 "DROPMALFORMED vs PERMISSIVE"
I have many CSV files coming from different upstream sources. Most of the files stick to a schema.
Ex,
[code]
Sample data
[code]

When a schema change happens(new column added), some upstream sources use new schema sooner than others. So we have csv files with old and new schema. Spark workflow doesn't change as `PERMISSIVE` mode will just omit new column(until we change code to process new column

[2016-02-04 07:18] tvmanikandan opened #257 "not able to load hdfs partition data when columns are missing"
Hello,
I am finding the below issue.

1st jan 2015 => table X with 10 columns data pushed to hdfs
3rd Jan 2015 => table X has been added with 5 more columns and 10+5=>15 columns data pushed to hdfs.

Now when i try to load the data in spark using data bricks csv of 1st and 3rd jan 2015 , I get exception.

Is there any way to handle this scenario?

Please help.

-Mani

[2016-02-05 00:28] SrikanthTati commented on #257
What is the exception? How are you calling this API?

Do you have the "mode" option set correctly?

[2016-02-05 04:33] tvmanikandan commented on #257
mode i am not specifying.

Exception :
 org.apache.spark.sql.AnalysisException: Cannot resolve column name "C10" among (C0, C1, C2, C3, C4, C5, C6, C7, C8, C9);

API :
val dl=sqlContext.read.format("com.databricks.spark.csv")
                                             .option("header", "false")
                                             .option("delimiter","\t")

[2016-02-05 07:22] falaki commented on #257
Spark-CSV takes the "first" file and uses it to determine number of columns. It will ignore any additional columns (because by default it is in PERMISSIVE mode). To solve your problem you can manually specify the schema.

[2016-02-05 08:18] tvmanikandan commented on #257
I am manually specifying the schema as explained in my previous email.
Still I get the issue. Could you please help?

-Mani
On Feb 5, 2016 12:52 PM, "Hossein Falaki" <notifications@github.com> wrote:

[2016-02-05 10:52] alokmathur commented on #128
I am using com.databricks 1.3.0 . but i am still getting this error:java.lang.NoClassDefFoundError: org/apache/spark/sql/types/AtomicType .

[2016-02-05 15:04] SrikanthTati commented on #255
Any thoughts on this? If this needs a code change, I can create a PR.

[2016-02-05 17:57] falaki commented on #255
Yes, this requires changes to the code. We basically need a new parsing mode that accepts rows with missing fields.

[2016-02-05 19:16] SrikanthTati commented on #255
Shouldn't this be part of what `permissive` mode does?

[2016-02-06 19:52] falaki commented on #255
PERMISSIVE does that, but you need to make sure the data source parses the data with new schema. That can be done by specifying schema manually and using PERMISSIVE mode. But in that case it will also accept those few malformed rows.

[2016-02-09 01:19] SrikanthTati commented on #255
I'm already passing in the schema with the default PERMISSIVE mode.

     sqlContext.read.format("com.databricks.spark.csv")
     .options(Map("path" -> (folder + "/*.lzo"), "delimiter" -> "\t")
     .schema(RawSchema.getSchema).load()

With this, the first row in my example is read correctly. Second row is also read by omitting the "extra" column. It's the third(malformed) row that is raising an

[2016-02-09 17:47] #242 closed

[2016-02-10 21:30] ayee commented on #83
After restarting spark interpreter and load dependency with

%dep
z.load("com.databricks:spark-csv_2.10:1.3.0")

sqlContext.read.load loads dataframe fine.  However, when I got exception when I tried to use a different sql paragraph to do select queries.   Seems like the dependency is not loaded but %sql is just the same interpreter, right?  Weird.

%sql
select count(*) from crime

java.lang.Class

[2016-02-11 03:18] IoDmitri opened #260 "Stuck on CsvRelation.scala:249"
[Here](http://stackoverflow.com/questions/35330067/spark-job-stuck-on-take-at-csvrelation-scala249) is an open SO question that I posted. The issue Im noticing is that while running on Amazon EMR, the Spark client is stuck on CsvRelation.

[2016-02-11 03:59] toddleo commented on #253
Anyone can reproduce this?

If I run big datasets and export with `spark-csv`, a few (not complete) `part-****` was written. When running smaller datasets, nothing except `_SUCCESS` was written.

I don't know if this is related to, that the other issue I encountered was, reading csv files into dataframe (no matter via spark-csv or not), the content in cells aren't complete, either missing leading

[2016-02-11 08:06] conker84 commented on #83
Please try
[code]
It worked for me

[2016-02-11 08:57] HyukjinKwon commented on #260
@IoDmitri Would you please give some details here rather than just a link (such as the error message and your data format (or a sample of your data))?

[2016-02-11 09:00] HyukjinKwon commented on #253
@toddleo Could you give me some example datasets you run? I cannot reproduce this with the data I use.

[2016-02-11 09:04] HyukjinKwon commented on #240
I believe the PR https://github.com/databricks/spark-csv/pull/251 fixes this issue.

[2016-02-11 09:06] HyukjinKwon commented on #217
Then, could we maybe close this..?

[2016-02-11 09:47] toddleo commented on #253
Hi @HyukjinKwon , appreciate for your attention. I can give you a digest version of the DataFrame I'm using, to demonstrate its structure:

| source | target | date       | hour | path  |
| ------ | ------ | ---------- | ---- | ----- |
| A      | B      | 2015-11-23 | 10   | a\|c\|d |
| A      | B      | 2015-11-23 | 11   | a\|c\|e |
| B      | C      | 2015-11-23 | 12   | j\|f\|n |

Plus, I can w

[2016-02-11 17:57] IoDmitri commented on #260
@HyukjinKwon  certainly, [here](https://s3-us-west-2.amazonaws.com/appdataforme/formatted.csv) is the data. As for the error, that the thing there is no error, its that the Spark UI shows CsvRelation.scala:249 as a task, but its at 0%, and its been that way for an hour. Imagine [this](http://imgur.com/HngNmaz) image, but instead of ``take at CsvRelation.Scala`` being completed, its not completed a

[2016-02-12 19:14] aplavin opened #262 "Custom Timestamp format"
How can I read CSV files with Timestamps formatted like `1966-02-13T00:00:00` (note `T` as the separator)? I see no way to specify the format, and reading as-is obviously gives `java.lang.IllegalArgumentException: Timestamp format must be yyyy-mm-dd hh:mm:ss[.fffffffff]`.

Thanks!

[2016-02-12 20:05] moutai commented on #247
One method that used to work is to add this in the conf/spark-default.conf
spark.jars          com.databricks_spark-csv_2.10-1.3.0.jar,org.apache.commons_commons-csv-1.1.jar,com.univocity_univocity-parsers-1.5.1.jar

[2016-02-14 01:10] Tagar opened #264 "infer schema using spark-csv over parquet table with string columns"
Would be great to use spark-csv to infer schema from an arbitrary DF or a parquet table that has string columns. Or is this already possible perhaps?

[2016-02-15 22:32] raschild opened #265 "Change on Documentation"
Regarding the Schema creation using the StructType in Spark v.1.6 the schema is created as follows:
[code]

based on the following doc: http://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.types.StructType

[2016-02-16 08:20] HyukjinKwon commented on #264
For me, I am not too sure if we need this but It is anyway possible.
First of all, you might be able to do this by converting data, `DataFrame` -> `RDD[String]` -> `DataFrame` as below (if this has nested data types, this will produces wrong data):

[code]

[2016-02-16 08:31] HyukjinKwon commented on #265
@raschild This is just a question. So, the schema creation in documentation is deprecated or does not work, and this way is recommended?

[2016-02-16 08:39] HyukjinKwon commented on #216
Could we maybe close this too?

[2016-02-16 08:43] tanwanirahul commented on #216
Resolved through #244.

[2016-02-16 08:43] #216 closed

[2016-02-16 09:43] raschild commented on #265
The provided example in the ReadMe.md for spark 1.4+ did not work for version spark 1.6 (most probably deprecated). Given the above documentation for initializing StructTypes you need to create a sequence of StructFields.

[2016-02-16 13:05] mvherweg commented on #83
I stumbled on this same issue with a notebook i'm working on. This whilst i did never have it before.
What i noticed: doing a sqlc.cacheTable("MY_TABLE") makes the problem go away.

Without sqlc.cacheTable, i get exactly the errors mentioned here. With it, all goes just fine and i can perfectly query in %sql cells.
(note: i load the spark-csv_2.10 dependency through a %dep cell)

[2016-02-16 13:34] saritseal opened #266 "Inferschema"
The following are the issues with Infer schema:
1. It will help if the class can be passed as the parameter and spark-csv uses the custom class to Infer the schema.
2. There is no support for Date, DateTime with a custom format
3. Number formats should have a option to specify the thousand separator, as well as negative formats

[2016-02-16 15:28] m-stafford commented on #266
I've recently added some support for basic Date formats to my fork of spark-csv. Tests are still needed before I'd be comfortable submitting a pull request but is this something that would be useful in the master branch?

[2016-02-16 17:03] Tagar commented on #264
wouldn't really work because some of the strings might have commas.
have a look at http://stackoverflow.com/questions/32722132/spark-data-type-guesser-udaf
thank you.

[2016-02-16 20:20] raschild commented on #240
@ziakayani  +1 for persist

[2016-02-16 23:22] falaki commented on #266
Yes, please feel free to submit your PR.

[2016-02-17 00:43] HyukjinKwon commented on #264
@Tagar I meant to say this workaround is anyway possible in this way.
For example, we can escape from the commnas with this.
[code]
If this contains `"` then, we can set another separator for this and use `quote` option for reading this.
If converting `DataFrame` to `RDD[String]` can be done (filed here https://github.com/databricks/spark-csv/issues/188), we might be able to do this.

[2016-02-17 00:46] HyukjinKwon commented on #262
I think this is the subset of https://github.com/databricks/spark-csv/issues/266

[2016-02-17 03:57] Tagar commented on #264
I have to agree. This is possible, but looks messy and requires two passes / two conversions:
convert dataframe to... csv just to make it work, and convert that back to a dataframe.

What I am suggesting in this issue requires one pass.
We have a lot of use cases when very wide datasets have ~98% of columns being just strings,
because source systems don't give us schema.

It would be great to have

[2016-02-17 04:31] HyukjinKwon commented on #196
This was fixed in https://github.com/databricks/spark-csv/pull/221.

[2016-02-18 03:32] joelvanveluwen opened #267 "When dropping tables created in spark-csv the folder of that table remains"
Hey All,

Basically as the title says, when I create a table using spark-csv and then subsequently drop that table it gets deleted from the metastore but the folder of that table stays... Is this a known issue and is a fix trivial?

[2016-02-18 19:32] mathieulongtin opened #268 "Commit ab648ad causes writing CSV to fail"
The commit https://github.com/databricks/spark-csv/commit/ab648ad6fa042fc2e240adb86ac674c4e8559f7c causes writing CSV to fail. I isolated it by compiling with the previous commit and then this commit. The current HEAD fails too.

The code (in Python):
[code]

The stack trace:
[code]

[2016-02-18 19:52] mathieulongtin commented on #268
Never mind. This was due to compiling with Scala 2.11 and using a Spark that was compiled with Scala 2.10. Compiling with the same version as Spark fixes the problem.

[2016-02-18 19:52] #268 closed

[2016-02-18 20:14] saritseal commented on #266
No worries. We are not using spark-csv I have written a schema inferred
which generates a parquet schema. I am sotastically identifying the sample
based on history and using to identify the schema
On 16 Feb 2016 15:28, "Matthew Stafford" <notifications@github.com> wrote:

[2016-02-19 08:57] priya28 opened #269 "Line Feed in the data is not parsed correctly and is taken as the next column"
can anyone share the settings wrt CSV import if there are Line Feed in the data itself. So normally a new line is Carriage Return + LineFeed. But because some of the data has Line Feed as a data itself, the import is not happening correctly.

[2016-02-19 21:27] #119 closed

[2016-02-21 02:37] amitmohanty commented on #59
@falaki Based on your instruction, I tried to do this:

`/user/god/spark-1.6.0-bin-hadoop2.6/bin/spark-shell --jars /user/god/spark-1.6.0-bin-hadoop2.6/lib/spark-csv_2.10-1.3.0.jar, /user/god/spark-1.6.0-bin-hadoop2.6/lib/commons-csv-1.2.jar --master yarn-client --num-executors 20 --executor-cores 8 --executor-memory 24g --driver-memory 8g
`

then

`scala> val df = sqlContext.read.format("com.data

[2016-02-21 14:17] FRosner commented on #59
@amitmohanty try removing the space between your two --jars.

[2016-02-21 16:58] dhunziker commented on #156
Having the same issue running Python through eclipse with all the required JARs added to the PYTHONPATH.

[2016-02-22 05:27] Tagar commented on #188
It would be great to have this built into Spark-CSV or into Spark. Thank you @HyukjinKwon

[2016-02-22 05:27] Tagar commented on #264
Just noticed #188 thank you @HyukjinKwon

[2016-02-22 07:38] HyukjinKwon commented on #240
Fixed in https://github.com/databricks/spark-csv/pull/251.

Can we maybe close this? @raschild @ziakayani @falaki

[2016-02-22 22:28] pjfanning commented on #188
I created a pull request: https://github.com/databricks/spark-csv/pull/270

[2016-02-23 00:42] HyukjinKwon commented on #207
Fixed in https://github.com/databricks/spark-csv/pull/249.

[2016-02-23 21:45] shriyaarora opened #272 "FileNotFoundException when attempting to write an Amazon s3 location, file is .gz even with no codec specified"
I am using the spark-csv library to write the results of my Spark job to an AWS S3 location and even though the write is successful I see two issues.

1. The output file is a compressed .gz file - even thought I did not specify any codec in the option of the dataframe writer
2. I get a FileNotFoundException exception with the following stacktrace:
`java.io.FileNotFoundException: File s3://baseDire

[2016-02-24 10:27] echarles commented on #83
Zeppelin has recently changed the way dependencies are loaded (no more via %dep, but via a UI in the interpreter settings page).

I was lucky to have a fix for free simply by taking the latest master version (see issue described on https://github.com/datalayer/datalayer-zeppelin/issues/5)

[2016-02-24 14:21] saifellafi opened #273 "Too many partitions when reading from file"
Hello,

I am loading a folder of csv files, the result turns into 85K partitions of 5mb each when turning into parquet, this creates a lot of overhead to process the data,
is there a way to assist and reduce the partition size? as sc.textFile does

Thank you
Saif

[2016-02-24 17:48] ssemichev opened #274 "Source file name in each row"
Is it possible to add a source file name to each row during loading stage?

Thanks

[2016-02-24 20:20] falaki commented on #273
You can repartition the DataFrame before saving to Parquet.

[2016-02-24 20:22] falaki commented on #274
Unfortunately it is not possible right now.

[2016-02-24 20:22] saifellafi commented on #273
Such operation is very expensive on such data size

[2016-02-24 22:57] HyukjinKwon commented on #273
Then maybe consider trying `coalesce()` ..?

[2016-02-25 00:20] mydpy commented on #225
I think this issue is also appearing
[on StackOverflow](http://stackoverflow.com/questions/35613479/loading-csv-into-pyspark-from-s3?noredirect=1#comment58911982_35613479)

[2016-02-25 08:02] gsindholt commented on #225
I discovered that if I use s3://... instead of s3n://... everything works fine.

[2016-02-25 08:06] aarondav commented on #225
Note that EMR rewrites s3:// to be their own proprietary implementation
more similar to "s3a" in nature. I doubt they set proper defaults for s3n
regarding timeouts and retries which are typically necessary for stable s3n
usage.

[2016-02-26 06:07] HyukjinKwon commented on #274
duplicate of https://github.com/databricks/spark-csv/issues/212?

[2016-02-26 07:34] HyukjinKwon commented on #208
Fixed in https://github.com/databricks/spark-csv/pull/275

[2016-02-26 07:34] #208 closed

[2016-02-27 10:48] oluies commented on #240
+1 for persist

[2016-02-28 14:50] gregmisiorek commented on #156
my java is acting up as well:

Name: java.lang.RuntimeException
Message: Failed to load class for data source: com.databricks.spark.csv
StackTrace: scala.sys.package$.error(package.scala:27)

[2016-02-29 21:19] ssemichev commented on #274
Yes, the workaround described in  [#212](https://github.com/databricks/spark-csv/issues/212) works well

[2016-02-29 21:19] #274 closed

[2016-03-01 14:53] crakjie commented on #64
I got this exception with spark 1.4.1 and CSV 1.3.0 with spark cassandra connector 1.4.3

Is it a regression  ?

[2016-03-01 16:44] remster opened #278 "negative numbers quoted in output"
when saving dataframes with "com.databricks.spark.csv" negative numbers are quoted (undesired), but only when they appear in the first column.

lib version:     compile "com.databricks:spark-csv_${scalaVersionMain}:1.3.0"
[code]

[2016-03-01 22:11] barrybecker4 opened #279 "need option for specifying date format"
I noticed these comments in the code:
// TODO(hossein): would be good to support other common timestamp formats
case _: TimestampType => Timestamp.valueOf(datum)
// TODO(hossein): would be good to support other common date formats
case _: DateType => Date.valueOf(datum)

It would be really nice to be able to specify the format of date columns when reading in a CSV file.
For example, something like

[2016-03-01 23:49] HyukjinKwon commented on #279
I think this is a duplicate of https://github.com/databricks/spark-csv/issues/262?

[2016-03-02 00:38] barrybecker4 commented on #279
Yes, it's basically the same as #262. Sorry I did not see it. One can be duped to the other.

[2016-03-02 00:46] HyukjinKwon commented on #278
@remster Would you maybe provide some sample dataset and self-runnable codes (with default Spark libraries)?
I think this might be a little bit confusing how to reproduce the issue..

[2016-03-02 07:00] remster commented on #278
Hi @HyukjinKwon

I have provided self-runnable codes with the assumption that you can give it a sqlContext (replace SparkBase.sqlContext) and can verify with specs2:
```must equalTo("positive,negative\n1,-1\n")```
or manually.

Essentially then, this fully reproduces the problem:
[code]

[2016-03-02 07:16] HyukjinKwon commented on #278
@remster Thanks!

[2016-03-02 07:30] falaki commented on #278
This seems to be a serious issue. Thanks for reporting. Will look into it before we make a new release.

[2016-03-02 07:57] remster commented on #278
Appreciated!

[2016-03-03 08:19] HyukjinKwon commented on #266
@m-stafford @falaki Could I try if you guys are not working on this?

[2016-03-03 09:04] falaki commented on #266
Sure. I think the most important one for now is Date and time format.

[2016-03-03 10:40] HyukjinKwon commented on #266
I will submit a PR within tomorrow.

[2016-03-03 14:58] islammohamed commented on #61
any updated about this issue, is the fix expected in the next release?

[2016-03-03 19:58] falaki commented on #61
Which issue are you referring to?

[2016-03-03 20:00] islammohamed commented on #61
the same issue referred here in the same thread
java.lang.IllegalArgumentException: The header contains a duplicate entry

[2016-03-03 23:55] falaki commented on #278
This is addressed by https://github.com/databricks/spark-csv/pull/271

[2016-03-03 23:56] #278 closed

[2016-03-04 07:07] HyukjinKwon opened #281 "Support for explicitly setting no compression such as none and uncompressed"
`uncompressed` and `none` options for compression codecs might be needed to set explicitly no compression.

This was merged in Spark; however, I just realised that this might not be some kind of what we must do identically for this, like `compression` option is supported for `codec` at Spark CSV data source but `compression` is not acceptable at this library.

For me I think it is good to do.

[2016-03-04 18:17] barrybecker4 commented on #86
In 1.4.0 it looks like there is a "nullValue" option that allows you to specify (specificy?) the string that you want to use for null. This is great. It would be even greater if you could specify a list of such strings that should be interpreted as null. For example,
option("nullValue", ["NA", "Missing", "MISSING", "", "?"])

[2016-03-06 00:01] premsagarreddy opened #284 "spark reading nested collections"
oot
 |-- categoryGuid: string (nullable = true)
 |-- items: struct (nullable = true)
 |    |-- #VALUE: string (nullable = true)
 |    |-- #VALUE: string (nullable = true)
 |    |-- item: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- itemid: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)

How to read items.item.name, it

[2016-03-06 00:27] falaki commented on #284
CSV datasource for spark does not support nested data.

[2016-03-06 00:27] HyukjinKwon commented on #284
I think this is about `spark-xml` as `spark-csv` does not support nested structure.

[2016-03-06 00:31] HyukjinKwon commented on #284
@premsagarreddy Also, if you meant selecting the elements in the array at DataFrame, this might not ne a `spark-csv` or `spark-xml` specific problem. So, I guess you can have a better answer from the user mailing list.

[2016-03-06 02:27] premsagarreddy commented on #284
Hi

Thanks for your prompt response.

But how do I select the nested elements in xml using spark xml.

On 5 March 2016 at 19:27, Hyukjin Kwon <notifications@github.com> wrote:

[2016-03-06 02:28] premsagarreddy commented on #284
This is like array of elements

[2016-03-06 02:34] premsagarreddy commented on #284
I am sorry the issue is related to spark-xml not spark-csv

[2016-03-07 04:49] DarkForte opened #285 "character corruption when spark.executor.memory is not set to a proper value"
Hi, I noticed a strange bug recently.

Here is my sample code:

[code]

CarSales is a very small csv. I noticed that when `spark.master` is not `local`, setting `spark.executor.memory` to above 16GB will result in the corruption of DataFrame. The output of this program is shown as below: (I copied the text from the log, and in this case `spark.executor.memory` is set to 32GB)

[code]

While the fi

[2016-03-07 17:51] barrybecker4 opened #286 "Consider having a NULL_IF_FAIL mode when parsing values"
Currently there are 3 modes: PERMISSIVE, DROPMALFORMED, and FAIL_FAST.
I use PERMISSIVE, but it still fails if there is a date that does not match the specified date format, or a string in a column that is specified as numeric in the schema. It might be good to have a mode like NULL_IF_FAIL which reads such problematic values as null. Another possibility is allowing multiple date formats so that a

[2016-03-08 01:01] davies commented on #285
What's the version of Spark are you using? This should be fixed in master, I think.

[2016-03-08 01:05] HyukjinKwon commented on #286
I also have thought this before altough I felt a bit hesitate to open an issue because there are currently too many options for this library.
Nevertheless,  maybe `PERMISSIVE` mode should include this. Since this is being failed to read, I personally think it might be okay to add on this behaviour in terms of backward compatibility.

[2016-03-08 01:40] DarkForte commented on #285
@davies I'm using Spark 1.5.1.

Please hold on to this issue, as I found this might be an issue in Spark, not in this library. I'll keep updating about this issue if I have any progress.

Thank you!

[2016-03-08 04:23] HyukjinKwon commented on #285
Yea, I have been also thinking this might be related with https://github.com/databricks/spark-csv/issues/231 or an issue at Spark.

So, this test  is being failed right?

[code]

[2016-03-08 04:26] HyukjinKwon commented on #279
@barrybecker4 Could we maybe close this? This is just fixed in #280.

[2016-03-08 04:27] HyukjinKwon commented on #262
@aplavin  Could we maybe close this? This is just fixed in #280.

[2016-03-08 04:27] HyukjinKwon commented on #266
@falaki @m-stafford @saritseal  Could we maybe close this? This is just fixed in #280.

[2016-03-08 05:25] DarkForte commented on #285
@HyukjinKwon Yes, `dataFrame.rdd` is correct.

In fact, it turns out this is a bug of Spark 1.5.1, for I've written the following code to exclude Spark-csv:

[code]

I found that it still encounters bad encoding. However, when I switch to Spark 1.3.1 and Spark 1.6.0, neither gives the same bug under exactly the same configuration.

I checked Spark's issue list but find no related issues. Did they

[2016-03-08 06:56] davies commented on #285
https://issues.apache.org/jira/browse/SPARK-11737?jql=project%20%3D%20SPARK%20AND%20text%20~%20%22string%20kyro%22

[2016-03-08 06:57] davies commented on #285
It's fixed in 1.5.3 (not released) and 1.6.0

[2016-03-08 07:04] HyukjinKwon commented on #285
Cool, then can we maybe close this?

[2016-03-08 07:15] HyukjinKwon commented on #265
I think maybe https://github.com/databricks/spark-csv/pull/276, https://github.com/databricks/spark-csv/pull/277 have fixed this one?

[code]
As you know, both expressions above is identical and `StructType` takes arguments as `Seq` which includes `List` and `Array`.

[2016-03-08 07:23] #207 closed

[2016-03-08 07:25] HyukjinKwon commented on #196
@fabboe Could we maybe close this?

[2016-03-08 07:41] DarkForte commented on #285
@davies Thank you for the related resource. I'll close this issue.

[2016-03-08 07:41] #285 closed

[2016-03-08 10:05] kadrach commented on #86
https://github.com/databricks/spark-csv/issues/192 seems to suggest this `nullValue` is only ever used when writing, not when reading.

[2016-03-08 13:15] barrybecker4 commented on #279
closing.

[2016-03-08 13:15] #279 closed

[2016-03-08 19:27] drizham opened #288 "Error when using Toree & Jupiter Notebook "Could not initialize class com.databricks.spark.csv.package""
#### I'm trying to use the cvs reader but am not able to within a Jupyter Notebook:
I know the Spark context within the notebook is working.

#### I am able to add the dependency:
%AddDeps com.databricks spark-csv_2.11 1.4.0
Marking com.databricks:spark-csv_2.11:1.4.0 for download
Preparing to fetch from:
-> file:/tmp/.ivy2/
-> https://repo1.maven.org/maven2
-> New file at /tmp/.ivy2/https/repo1.m

[2016-03-08 19:29] brkyvz commented on #288
Hi,
Are you sure your Spark version is in fact Scala 2.11? Could you also try the dependency:
`com.databricks spark-csv_2.10 1.4.0`?

[2016-03-08 19:40] drizham commented on #288
Hi,
I have been trying both actually, just tried `com.databricks spark-csv_2.10 1.4.0` same error.

[2016-03-08 22:44] drizham commented on #288
Solved it with
<%AddDeps com.databricks spark-csv_2.10 1.4.0 --transitive>
and
<import org.apache.spark.sql.SQLContext
import sqlContext._
import sqlContext.implicits._
import SQLContext._
val sqlContext = new SQLContext(sc)
import sqlContext.implicits._
val df = sqlContext.read.format("com.databricks.spark.csv").option("header", "true").option("inferSchema", "true").load("cars.csv")>

[2016-03-08 22:46] drizham commented on #288
Solved with this import

%AddDeps com.databricks spark-csv_2.10 1.4.0 --transitive

Cell code

import org.apache.spark.sql.SQLContext
import sqlContext._
import sqlContext.implicits._
import SQLContext._
val sqlContext = new SQLContext(sc)
import sqlContext.implicits._
val df = sqlContext.read.format("com.databricks.spark.csv").option("header", "true").option("inferSchema", "true").load("cars.cv")

[2016-03-08 22:46] #288 closed

[2016-03-09 00:38] HyukjinKwon commented on #197
I am leaving this link for a reminder that `HadoopFSRelation` is changed.
https://issues.apache.org/jira/browse/SPARK-13664

[2016-03-09 06:13] HyukjinKwon opened #289 "Omitted file extension (.csv)"
Currently, this library does not add an extension for part-files. This might have to be added.

This issue was also filed in Spark, https://issues.apache.org/jira/browse/SPARK-13766.

[2016-03-09 14:50] barrybecker4 commented on #120
Its unclear to me how we are supposed to work with datatset that have columns with dots (.) in them. When I try to do a groupBy on a dataFrame with such a dataset I get an error like:
org.apache.spark.sql.AnalysisException: Cannot resolve column name "unique. string" among (unique. string, string-normal, string/odd...)

Spark uses the dots to indicate subfields or something like that, but what if

[2016-03-09 16:48] amitmohanty opened #290 "issue with reading null values"
I know there has been some discussion around reading null values in spark-csv, but I could not find any concrete answer. So, here I go.

I have a csv file whose contents are like this

![image](https://cloud.githubusercontent.com/assets/1369847/13642395/56100ff0-e5ea-11e5-99ae-b7f7eee9311c.png)

I am starting my spark-shell like this

`$ /s/god/spark-1.6.0-bin-hadoop2.6/bin/spark-shell --jars /s/g

[2016-03-09 23:46] HyukjinKwon commented on #120
I think https://github.com/databricks/spark-csv/issues/203 is also related with this.

[2016-03-09 23:50] HyukjinKwon commented on #120
For me I agree with @barrybecker4. If some characters are not allowed in the column names in DataFrame at Spark, I think users simply should not use them. This might be simply done with a transformation as the header is located at the first.

[2016-03-09 23:54] HyukjinKwon commented on #120
I see special characters are supported in Spark.

[2016-03-10 00:05] glennmurray opened #291 "Issue with writing null values"
In version 1.4.0, setting `option("nullValue", "")` leads to inconsistent out put in TSV (TDF) files.

First, if the first cell in a row is null, then not an empty String but double quotes (`""`) are written.

Second, if there are trailing null values in a row then the tab characters to fill out the row are omitted.

For example
[code]
is written as
[code]

[2016-03-10 00:10] barrybecker4 commented on #120
Using backquotes around the column names is an acceptable workaround for now.

[2016-03-10 00:13] HyukjinKwon commented on #120
I see. Thanks. However, does that look an issue at Spark but at this library? I think we may close this.

[2016-03-10 00:16] HyukjinKwon commented on #291
It looks an issue. Maybe would you share the code you run? I want to reproduce this issue.

[2016-03-10 00:25] falaki commented on #291
@glennmurray do these issues also happen when delimiter is set to comma?

[2016-03-10 00:30] HyukjinKwon commented on #290
It looks the problem is that the fields in the schema is not set currently.

it looks working fine. Would you try the codes below?

- codes

[code]

- output

[code]

[2016-03-10 00:57] barrybecker4 commented on #120
Yes, the issue I mentioned is potentially an issue for spark and not databricks.csv.

[2016-03-10 01:01] glennmurray commented on #291
My output code:
[code]
My DataFrame with nulls is generated from an outer join on two DataFrames with no nulls;  some of the keys are duplicated so null values result.   I'm pressed for time right now, but I'll try to give you some examples tomorrow.

[2016-03-10 02:12] amitmohanty commented on #290
I think I am still having the same problem. The complete error messages are here:

[code]

[2016-03-11 19:14] glennmurray commented on #291
Sorry for the delay.  Here's a reproducible example.
[code]

[2016-03-11 19:25] glennmurray commented on #291
This affects CSV files, too, although the missing fields are provided in the last row.
[code]

[2016-03-11 21:17] glennmurray commented on #291
A work-around is to skip spark-csv.  Continuing from my previous example, replace the null values with empty Strings and convert to an RDD.
[code]
This yields the correct results.

[2016-03-13 03:58] Tagar opened #292 "Disable Double data type schema inference if it leeds to precision loss"
Spark-csv infers data type as Double on some of the "id" columns we have.. which leeds to loss of precision.

For example, we have columns with identifiers for example,
21602730330000060100100000358582
Spark-csv infers it as Double and we have trailing significant digits lost.. as for above example,
that number shows up as
2.1602730330000062e+31

So now we can't use that column to join with other

[2016-03-13 23:29] Tagar commented on #292
On precision loss: [Double-precision floating-point format, wikipedia](https://en.wikipedia.org/wiki/Double-precision_floating-point_format):

In my case there were 32 significant decimal digits. So the althorithm to detect if converting to Double data type leads to precisions loss is as simple as:
- remove trailing and leading decimal zeros in a number;
- if string of decimal digits length is mor

[2016-03-14 03:59] falaki commented on #292
Thanks for the suggestion and sharing your use case.

[2016-03-14 05:04] kevinskii commented on #58
@PamLev: Sorry for the late reply. In case this issue is still affecting you or anyone else, by "extracting the .jar" I mean go to the Apache commons-csv download page at my link above, and download the one of the binaries. At the time of this writing it can be either "commons-csv-1.2-bin.zip" or "commons-csv-1.2.bin.tar.gz". When you uncompress the binary you'll see a single commons-csv-1.2.jar f

[2016-03-14 19:01] weichen1984 commented on #290
Looking at your code, you are using spark csv 1.3.0. Try using 1.4.0 to see if this goes away.

[2016-03-14 21:31] Tagar opened #293 "allow schema parameter for a subset of columns"
If some of the fields are known to be of certain data type, it would be really useful to allow schema parameter for a subset of columns.

For example, if we always have a "document_id" column and it has to be String and not for example Double, then we would pass "schema" parameter for just this one column, and the rest of column names will come from the header, and the rest of data types will be i

[2016-03-15 10:07] HyukjinKwon commented on #292
I just submitted a [PR](https://github.com/apache/spark/pull/11724) at Spark. As soon as that is merged, I will submit a PR for this one as well.

[2016-03-15 16:52] Tagar commented on #292
Thanks a lot.

[2016-03-16 09:45] nizza commented on #192
I'm having the same problem on  _com.databricks:spark-csv_2.10:1.4.0_

`df = (sqlContext.read.format('com.databricks.spark.csv').
          options(header='false', inferschema='false', delimiter='\t', nullValue='NULL')...`

when trying to perform some operation on a float column, the following exception is thrown:

	at java.text.NumberFormat.parse(NumberFormat.java:385)
	at com.databricks.spark.cs

[2016-03-16 16:14] nivemaham commented on #206
I got the same issue. I think the versions mentioned above are swapped.
The error preserved when i used com.databricks:spark-csv_2.10:1.0.3 where as got solved for com.databricks:spark-csv_2.10:1.3.0.
Thanks

[2016-03-16 17:16] geoHeil opened #294 "nested quotes"
Hi,
outlined here http://stackoverflow.com/questions/36041428/csv-parsing-nested-quotes?noredirect=1#comment59733516_36041428

I try to parse the following line
`"Gabriella's Song" From The Motion Picture "The Mission";
`
which only results in:

[code]

[2016-03-17 08:53] geoHeil commented on #294
using univocity solves this

[2016-03-17 08:53] #294 closed

[2016-03-17 08:55] geoHeil opened #295 "length of parsed content exeeded"
Unfortunately, I get this exception:

com.univocity.parsers.common.TextParsingException: Error processing input: Length of parsed input (100001) exceeds the maximum number of characters defined in your parser settings (100000).

including
[code]

Is it possible to specify setMaxCharsPerColumn in spark-csv?

[2016-03-17 09:29] HyukjinKwon commented on #291
@glennmurray Thanks for the steps for reproducing. I will try to look into this deeper as well.

[2016-03-17 10:56] HyukjinKwon commented on #291
@glennmurray @falaki I could reproduce this issue.

It looks like an issue at Apache common CSV.

I checked the rows have `null` values properly but the output right after parsing, it has weird output.

I could simplify the steps below:

[code]

[2016-03-17 10:58] HyukjinKwon commented on #291
The problem is, when the `nullValue` is a special character or `""`, it always wraps the first field with the given `quote`.

It looks it is related with [QuoteMode](https://commons.apache.org/proper/commons-csv/apidocs/org/apache/commons/csv/QuoteMode.html#MINIMAL). When I use a quote mode, `NONE`, it parses okay but from `MINIMAL`, it does not.

[2016-03-17 12:08] HyukjinKwon commented on #291
@falaki If you think we anyway should deal with this within this library, then I will submit a PR for this.

[2016-03-17 14:05] barrybecker4 opened #296 "datetimes are read with time zone offset"
I'm not sure if this is a question or a bug yet, but let me explain my problem.
When I specify a dateFormat like "MM/dd/yyyy HH:mm:ss" and read in a date like
 "07/09/2015 00:00:00"
It interprets it as having the local (PST) timezone. I really want it to have UTC time zone.
If I print the date with UTC timezone, it report something like 2015-07-09 00:00:00-08:00.
How can I read a date and have it

[2016-03-17 19:04] falaki commented on #295
This has been exposed in CSV data source that is in spark 2.0. But for this package you can use the default parser which does not have this limit.

[2016-03-17 19:04] falaki commented on #295
Oh I noticed you are using univocity for nested quotes.

[2016-03-17 19:34] falaki commented on #291
Thanks for looking into this @HyukjinKwon.
@glennmurray Given this information, it seems you will not have this problem if you set parserLib to univocity.

[2016-03-17 19:37] falaki commented on #296
In next version of the package you will be able to specify format. See this PR: https://github.com/databricks/spark-csv/pull/280

[2016-03-17 19:57] geoHeil commented on #295
I have problems with some special fields like

&amp;
Or "Eccoli; attenti ben (Don Pasquale)"

Do you have a suggestion how to parse these?

Currently the parser does not recognize the line breaks an tries to infinitely add more and more rows to a single column and crashes.

[2016-03-17 20:09] barrybecker4 commented on #296
Yes. I am aware that the next version will allow specifying the format. In fact, we are already using that using a SNAPSHOT. This question/request is about specifying the time zone when reading, instead of using the local time zone. In my case I want to use GMT/UTC time zone. Can we have an additional option for that?

[2016-03-17 20:23] falaki commented on #296
If your data has timezone, then you can use format to read them correctly. If they don't I think timezone transformations are better handled with DataFrame transformations (e.g., adding a new column with fixed date).

[2016-03-17 20:35] barrybecker4 commented on #296
I could add a DataFrame transformation to shift the timezone after the data has been loaded, but I  thought it would be more convenient and efficient to specify it when loading.

[2016-03-18 05:29] pranita-s opened #297 "Unable to load CSV file from S3 bucket"
Hi !
I am facing problems in loading CSV file from S3 bucket using read.df() function.
read.csv() is working but as its slow I wish to use read.df().

I have 1 master and 2 slaves.
The values of AWS Key Id and Secret Key is present in core-site.xml file.
Code:
library("SparkR",lib.loc="/root/spark/R/lib")
Sys.setenv(SPARK_HOME="/root/spark")
sc<- sparkR.init(sparkPackages="com.databricks:spark-csv

[2016-03-20 08:55] ksxh commented on #58
@kevinskii I followed your instructions, I can load csv using spark-csv, for example
`df = sqlContext.load(source="com.databricks.spark.csv", path = "file:/home/hello/pa_type_sg.txt")`

But I can't write to csv, for example,
`df.write.format('com.databricks.spark.csv').save('file:/home/hello/newcars.csv')`

with error message

`
Traceback (most recent call last):
  File "<stdin>", line 1, in <modu

[2016-03-21 06:00] #297 closed

[2016-03-21 07:07] HyukjinKwon opened #299 "Missing documentation for treatEmptyValuesAsNulls option."
I can't find a description for a option `treatEmptyValuesAsNulls` in `README.md`.

Is this intentionally omitted (maybe is this deprecated)?

[2016-03-21 08:12] falaki commented on #299
I don't think it is intentional. The option is used in `TypeCast`

[2016-03-21 09:54] pranita-s opened #300 "Calculate Timestamp Difference"
Hi ,

I have a database with 2 columns, Timestamp and Device Name:

Timestamp                                             MachineID
2015-03-31 02:46:37                             111
2015-03-31 02:46:39                             222
2015-03-31 02:46:40                             111
...
...
...

I am not able to figure out how to find difference in consecutive Timestamp in Seconds grouped by M

[2016-03-21 15:14] bigsnarfdude opened #301 "Dataframe to csv IO, system performance enters high CPU state and write operation takes 1 hour to complete instead of 22 seconds"
Summary
When using spark-assembly-2.0.0/spark-shell trying to write out results of dataframe to csv, system performance enters high CPU state and write operation takes 1 hour to complete.
Affecting: [Stage 5:> (0 + 2) / 21]
Stage 5 elapsed time 3488272270000ns

In comparison, tests where conducted using Spark 1.4, 1.5, 1.6 with same code/data and Stage5 csv write times where between 2 - 22 seconds

[2016-03-21 15:57] krishnat3 opened #302 "java.lang.classnotfound"
Hey - I am trying to use databricks spark-csv as per your example in my java program. When i do a spark-submit --class "SSQL" /data/testapp.jar --master yarn --driver-class-path /data/spark-csv_2.10-1.4.0.jar --packages com.databricks:spark-csv_2.10:1.4.0

I get the following error. Please help!!!

Exception in thread "main" java.lang.ClassNotFoundException: Failed to find data source: com.databri

[2016-03-21 19:45] falaki commented on #301
@bigsnarfdude thanks for reporting this. I think it is better to report this as a Spark issue. I suspect the bottleneck relates to using univocity for writing CSV in an inefficient way. The spark-csv package uses apache commons for writing CSV.

[2016-03-21 19:46] falaki commented on #302
You don't need to include spark-csv jar yourself. Spark submit will take care of downloading the jar and its dependencies and using them.

[2016-03-21 20:56] bigsnarfdude commented on #301
I did two CPU snapshots and used a hotspot report pictured here: https://twitter.com/BigsnarfDude/status/712018322749927424

I'm confused, `the com.univocity.common.iput.DefaultCharAppender` is part of this this repo? This is a Apache Spark issue? I'm new to JVM troubleshooting and I'm just getting my head around what is causing the CPU issue.

[2016-03-21 21:33] AEDWIP opened #303 "java.lang.NoClassDefFoundError: Could not initialize class com.databricks.spark.csv.util.CompressionCodecs$"
## I use Jupyter python3 notebook. I am running spark-1.6.1-bin-hadoop2.6

Here is the script I use to start pyspark with the  spark-csv package
[code]

## my python code and stack trace are bellow

Kind regards

Andy

In [16]:

[code]
---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<ipython-inp

[2016-03-21 23:32] bigsnarfdude commented on #301
Close this issue and open one for Spark.

[2016-03-21 23:32] #301 closed

[2016-03-21 23:41] AEDWIP commented on #303
using the version 1.3 syntax and using --packages com.databricks:spark-csv_2.11:1.3.0 works
df3.write.save(outputURLHDFS, 'com.databricks.spark.csv', header = 'true')

I tried version 1.4 and version 1.3 syntax with com.databricks:spark-csv_2.11:1.4.0 and got the error listed in original bug report

kind regards

Andy

[2016-03-22 04:28] pranita-s commented on #300
Is there any way to find difference in Timestamp in SparkR ?

[2016-03-22 05:13] falaki commented on #300
Here is what I would do:
[code]

[2016-03-22 08:34] pranita-s commented on #300
Thanks !! I tried this,

filter_col<- select(data_sparkrdf,data_sparkrdf$Timestamp,data_sparkrdf$Machine)
new_filter_col<- transform(filter_col,delta = as.Date(filter_col$Timestamp))

But I am getting following error:
new_filter_col<- transform(filter_col,delta= as.Date(filter_col$Timestamp))
Error in as.Date.default(filter_col$Timestamp) :
  do not know how to convert 'filter_col$Timestamp' to cl

[2016-03-22 08:37] HyukjinKwon opened #304 "Not implemented but exposed options (ignoreTrailingWhiteSpace and ignoreLeadingWhiteSpace)"
It looks `ignoreTrailingWhiteSpace` and `ignoreLeadingWhiteSpace` options are exposed but not implemented.

[2016-03-22 08:40] HyukjinKwon commented on #304
I think this is related wth https://github.com/databricks/spark-csv/issues/158 if both options mean trimming heading and trailing spaces.

[2016-03-22 08:41] HyukjinKwon commented on #304
@falaki Do you intent to implement them or remove them? I will submit a PR if you allow me.

[2016-03-22 14:06] krishnat3 commented on #302
I have tried that too, same error - Exception in thread "main" java.lang.ClassNotFoundException: Failed to find data source: com.databricks.spark.csv. Please find packages at http://spark-packages.org
at

Do I need to do something to allow Spark-submit to be able to download packages?

PS: When I do spark-shell with --package, and its downloading the required jar.